@using CapaEntidad.Control
@model IEnumerable<Ent_Aplicacion>

@{
    Layout = null;
}
@Scripts.Render("~/bundles/bootstrap-select")
@Styles.Render("~/Content/Bootstrap-Select/css")
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.css" />
<div class="modal-content">
    <div class="modal-header modal-header-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Adicionar aplicacion a función</h4>
    </div>
    <div class="modal-body">
        @using (Ajax.BeginForm("Edit", new AjaxOptions { OnBegin = "onAgregar_Apl();" }))
        {
            <form id="editfuncion" role="form">
                <input type="hidden" id="idfun" value="@ViewBag.funid" />
                <div class="form-group">
                    <div class="input-group">
                        <label for="dwapl">Aplicación {Función - @ViewBag.funnombre}</label>
                    </div>
                    <div class="input-group">
                        @Html.DropDownList("dwapl", new SelectList(ViewBag.aplicacion, "apl_id", "apl_nombre"), new { @class = "selectCountry form-control", @data_live_search = "true", @id = "dwapl", @required = "required" })
                        <span class="input-group-btn">
                            <button type="submit" title="Agregar aplicación" class="btn btn-primary btn-flat">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        }
        <div class="form-group" id="listaapl">
            @{Html.RenderPartial("ListaAplFun", Model); }
        </div>
    </div>
</div>
<script>


$(document).ready(function() {
    $("#dwapl").select({
        dropdownParent: $("#myModal")
  });
});

</script>
<script>
    function onAgregar_Apl() {
        var msg_titulo = 'Mensaje Aquarella!';
        var funid = $("#idfun").val();
        var aplid = $('select[name=dwapl]').selectpicker('val');
        waitingDialog.show('Espere un momento por favor');
        $.ajax
             ({
                 url: '../Funcion/Agregar_Apl',
                 dataType: "json",
                 type: "POST",
                 data: { apl_id: aplid, fun_id: funid },
                 success: function (data, textStatus, XMLHttpRequest) {
                     if (data.estado == '1') {
                         $('#listaapl').load('@Url.Action("ListaAplFun", "Funcion")', { funid: funid });
                         waitingDialog.hide();
                         toastr.success(data.desmsg, msg_titulo);

                     }
                     else {
                         waitingDialog.hide();
                         toastr.error(data.desmsg, msg_titulo);
                     }
                 },
                 error: function (xhr) {
                     waitingDialog.hide();
                     toastr.error(xhr, msg_titulo);
                 }
             })

    }
</script>