<script type="text/javascript">
    function InvalidMsg(textbox, str) {

        if (textbox.value.length == 0) {
            textbox.setCustomValidity(str);
        }
        else {
            textbox.setCustomValidity('');
        }
        return true;
    }
</script>
@model CapaEntidad.Control.Ent_Funcion
@{
    Layout = null;
}
@Scripts.Render("~/bundles/bootstrap-select")
@Styles.Render("~/Content/Bootstrap-Select/css")
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.css" />
@using (Ajax.BeginForm("Edit", new AjaxOptions { OnBegin = "OnEditar_Grabar();" }))
{
    <div class="modal-content">
        <div class="modal-header modal-header-primary">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editando Función</h4>
        </div>
        <div class="modal-body">
            <input type="hidden" id="idfun" value="@Model.fun_id" />
            <table class="table table-striped">
                <tr>
                    <td><label for="nombre">Nombre</label></td>
                    <td>
                        <input type="text" id="nombre" value="@Model.fun_nombre" placeholder="Ingrese el nombre" autofocus class="form-control" oninvalid="InvalidMsg(this,'Ingrese el nombre')" required="required" />
                    </td>
                </tr>
                <tr>
                    <td><label for="dwfuncion">Padre</label></td>
                    <td>
                        @Html.DropDownList("dwfuncion", new SelectList(ViewBag.funcion, "fun_id", "fun_nombre", ((Model.fun_padre.Length == 0) ? "0" : Model.fun_padre)), new { @class = "selectCountry form-control", @data_live_search = "true", @id = "dwfuncion" })
                    </td>
                </tr>
                <tr>
                    <td><label for="orden">Orden</label></td>
                    <td>
                        <input type="text" id="orden" value=@Model.fun_orden placeholder="Ingese el orden" class="form-control" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer" style="margin-top:-30px">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" id="btnSubmit" value="Aceptar" />
        </div>
    </div>
}


