
@using CapaEntidad.Control
@model IEnumerable<Ent_Funcion>


@{
    Layout = null;
}
@Scripts.Render("~/bundles/bootstrap-select")
@Styles.Render("~/Content/Bootstrap-Select/css")
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.css" />

<div class="modal-content">
    <div class="modal-header modal-header-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Adicionar Función a Roles</h4>
    </div>
    <div class="modal-body">
        @using (Ajax.BeginForm("Roles", new AjaxOptions { OnBegin = "onAgregar_fun();" }))
        {
            <form id="editfuncion" role="form">
                <input type="hidden" id="idrol" value="@ViewBag.rolid" />
                <div class="form-group">
                    <div class="input-group">
                        <label for="dwapl">Aplicación {Roles - @ViewBag.rolnombre}</label>
                    </div>
                    <div class="input-group">
                        @Html.DropDownList("dwfun", new SelectList(ViewBag.funciones, "fun_id", "fun_nombre"), new { @class = "selectCountry form-control", @data_live_search = "true", @id = "dwfun", @required = "required" })
                        <span class="input-group-btn">
                            <button type="submit" title="Agregar aplicación" class="btn btn-primary btn-flat">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>

                    </div>
                </div>
            </form>
        }
        <div class="form-group" id="listafun">
            @{Html.RenderPartial("ListaFunRol", Model); }
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        $("#dwfun").select({
            dropdownParent: $("#myModal")
        });
    });
</script>

<script>
    function onAgregar_fun() {
         var msg_titulo = 'Mensaje Aquarella!';
        var rolid = $("#idrol").val();
        var funid = $('select[name=dwfun]').selectpicker('val');
        waitingDialog.show('Espere un momento por favor');
        $.ajax
             ({
                 url: '../Roles/Agregar_Fun',
                 dataType: "json",
                 type: "POST",
                 data: { fun_id: funid, rol_id: rolid },
                 success: function (data, textStatus, XMLHttpRequest) {
                     if (data.estado == '1') {
                         $('#listafun').load('@Url.Action("ListaFunRol", "Roles")', { rolid: rolid });
                         waitingDialog.hide();
                         toastr.success(data.desmsg, msg_titulo);
                     }
                     else {
                         waitingDialog.hide();
                         toastr.error(data.desmsg, msg_titulo);
                     }
                 },
                 error: function (xhr) {
                     waitingDialog.hide();
                     toastr.error(xhr, msg_titulo);
                 }
             })

    }
</script>
