@using Newtonsoft.Json;
@{
    ViewBag.Title = "Generacion de despacho {" + @ViewBag.TipoDes + "}";
}

<style>
    .nav-tabs-custom>.nav-tabs>li.active>a, .nav-tabs-custom>.nav-tabs>li.active:hover>a {
        background-color: #e8e8e8;
        color: #444;
    }
</style>

<p class="text-primary">Creando nuevo despacho, Busqueda de pedidos y exportar a excel </p>
<div class="row">
    <div class="col-md-12">       
        <div class="nav-tabs-custom" id="tab_despacho">
            <ul class="nav nav-tabs">
                <li class=""><a href="#tab_1" data-toggle="tab" id="tab_agregar" aria-expanded="false">Lista de despacho pendiente</a></li>
                <li class="disabled disabledTab"><a href="#tab_2" data-toggle="tab" id="tab_editar" aria-expanded="false">Edicion del Despacho</a></li>
            </ul>
            <div class="tab-content" id="tab_despacho1" >
                <div class="tab-pane" id="tab_1">
                    <h5 class="text-bold">Consulta de Despacho para generar</h5>
                    <p class="text-info">Seleccionar lista para agregar o generar un despacho.</p>   
                    <div class="row">
                        <div class="col-md-10 text-right">
                            <span style="font-size:18px;" class="label label-danger" id="dc_tipo1"></span>
                        </div>
                        <div class="col-md-10" style="padding-left: 10px;padding-bottom:10px;">
                            <a href="@Url.Action("ListaDespacho" , "Logistica")" class="btn btn-default" title="Regresar al listado de despacho"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;Regresar al listado</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                        <div class="col-md-10">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="row">

                                        <div class="col-sm-2">
                                            <label for="fecini">Fec. Ini</label>
                                            <div class="form-group">
                                                <div id="datepickerini" class="input-group date" data-date-format="dd-mm-yyyy">
                                                    <input id="fecini"  name="fecini" value="" class="form-control custom-input" placeholder="dd-mm-yyyy" type="text" />
                                                    <span style="visibility:hidden;" class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <label for="fecfin">Fec. Fin</label>
                                            <div class="form-group">
                                                <div id="datepickerfin" class="input-group date" data-date-format="dd-mm-yyyy">
                                                    <input id="fecfin" name="fecfin" value="" class="form-control" placeholder="dd-mm-yyyy" type="text" />
                                                    <span class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2" style="padding-left: 25px; width: 105px; margin-top: 23px; margin-bottom: 10px;">
                                            <button id="btnbuscar" onclick="buscar();" type="submit" title="Consultar" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Buscar
                                            </button>
                                        </div>                                    
                                        <div class="col-sm-8" style="padding-left: 35px; width: 568px; margin-top: 1px; margin-bottom: 1px;">
                                            <div class="panel panel-danger p-10">
                                                <div class="panel-body" style="padding-top: 3px;padding-bottom: 2px;">
                                                    <div class="col-sm-8">
                                                        <label for="fecfin">Descripcion</label>
                                                        <div class="form-group">
                                                            <textarea class="form-control" id="txtdescripcion"></textarea>
                                                        </div>
                                                    </div>                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box box-danger">

                                            </div>
                                            <div class="col-md-6">
                                                <div class="col-sm-12 checkbox text-red text-bold">
                                                    <label>
                                                        <input type="checkbox" onchange="mostrar();" name="chkmostrar" id="chkmostrar" value="1" /> Mostrar solo los que se van agregar
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <button id="btn_exportar_new" onclick="exportar_new();" type="submit" title="Exportar a excel" class="btn btn-success">
                                                    <span class="glyphicon glyphicon-export"></span>&nbsp;&nbsp;Exportar a Excel
                                                </button>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                @*<button id="btn_gcambios" onclick="generar_despacho();" type="submit" title="Guardar Cambios" class="btn btn-primary">
                                                    <span class="glyphicon glyphicon-saved"></span>&nbsp;&nbsp;Guardar Cambios
                                                </button>*@
                                                <button id="btncrear" type="submit" onclick="generar_despacho();" title="Crear Despacho" class="btn btn-default">
                                                    <span class="glyphicon glyphicon-new-window"></span>&nbsp;&nbsp;Crear Despacho
                                                </button>

                                                @*<a href="@Url.Action("ListaClienteExcel","Clientes")" class="btn btn-primary"><i class="glyphicon glyphicon-export"></i>&nbsp;&nbsp;Exportar Lista</a>*@
                                            </div>
                                            <br />
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                              </div>
                         </div>
                     </div>
                      
                      
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="tb_despacho" class="table table-hover table-bordered compact">
                                        <thead>
                                            <tr>
                                                <th>Asesor</th>
                                                <th>Lider</th>
                                                <th>Promotor</th>
                                                <th>Rotulo</th>
                                                <th></th>
                                                <th>Agencia</th>
                                                <th>Destino</th>
                                                <th>Pedidos</th>
                                                <th>T.Cant</th>
                                                <th>Monto</th>
                                                <th valign="middle" style="text-align:center;width:2%">
                                                    Flete
                                                </th>
                                                <th>Observacion</th>
                                                <th>Detalle</th>
                                                <th valign="middle" style="text-align:center;width:2%">Agregar</th>

                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach:"></tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Asesor</th>
                                                <th>Lider</th>
                                                <th>Promotor</th>
                                                <th>Rotulo</th>
                                                <th></th>
                                                <th>Agencia</th>
                                                <th>Destino</th>
                                                <th>Pedidos</th>
                                                <th>T.Cant</th>
                                                <th>Monto</th>
                                                <th valign="middle" style="text-align:center;width:2%">
                                                    Flete
                                                </th>
                                                <th>Observacion</th>
                                                <th>Detalle</th>
                                                <th valign="middle" style="text-align:center;width:2%">Agregar</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="tab-pane active" id="tab_2">                   
                    <h5 class="text-bold">Datos de Despacho</h5>
                    <p class="text-info">Agregar Lider ó editar despacho.</p>                      
                    <div class="row">
                        <div class="col-md-10 text-right">
                            <span style="font-size:18px;" class="label label-danger" id="dc_tipo2"></span>
                        </div>
                        <div class="col-md-10" style="padding-left: 10px;padding-bottom:10px;">                                                       
                                    <a href="@Url.Action("ListaDespacho" , "Logistica")" class="btn btn-default" title="Regresar al listado de despacho"><i class="fa fa-long-arrow-left"></i>&nbsp;&nbsp;Regresar al listado</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                                 
                        </div>
                        <div class="col-md-10">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Datos Generales del despacho</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /.box-tools -->
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-2" style="padding-left: 25px;">
                                            <div id="prm" class="form-group" disabled>
                                                <label for="txtdocumento" style="color: #3d566e;">Nro. Documento:</label>
                                                <div class="form-group">
                                                    <input type="text" readonly="readonly" data-dependency="txtdocumento" value="" placeholder="" maxlength="55" class="form-control" name="txtdocumento" id="txtdocumento" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="padding-left: 25px;">
                                            <div id="prm" class="form-group" disabled>
                                                <label for="txtfec_cre" style="color: #3d566e;">Fecha Creacion:</label>
                                                <div class="form-group">
                                                    <input type="text" value="" readonly="readonly" placeholder="" maxlength="55" class="form-control" name="txtfec_cre" id="txtfec_cre" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="padding-left: 25px;">
                                            <div id="prm" class="form-group" disabled>
                                                <label for="txtestado" style="color: #3d566e;">Estado:</label>
                                                <div class="form-group">
                                                    <input type="text" value="" readonly="readonly" placeholder="" maxlength="55" class="form-control" name="txtestado" id="txtestado" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="padding-left: 25px;">
                                            <div id="prm" class="form-group" disabled>
                                                <label for="txtpares_pedido" style="color: #3d566e;">Pares Pedido:</label>
                                                <div class="form-group">
                                                    <input type="text" value="" readonly="readonly" placeholder="" maxlength="55" class="form-control" name="txtpares_pedido" id="txtpares_pedido" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="padding-left: 25px;">
                                            <div id="prm" class="form-group" disabled>
                                                <label for="txtpares_enviado" style="color: #3d566e;">Pares Enviado:</label>
                                                <div class="form-group">
                                                    <input type="text" value="" readonly="readonly" placeholder="" maxlength="55" class="form-control" name="txtpares_enviado" id="txtpares_enviado" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="padding-left: 25px;">
                                            <div id="prm" class="form-group" disabled>
                                                <label for="txtcatalogof" style="color: #3d566e;">Catálogo Facturado:</label>
                                                <div class="form-group">
                                                    <input type="text" data-dependency="txtsegnom" readonly="readonly" value="" placeholder="" maxlength="55" class="form-control" name="txtcatalogof" id="txtcatalogof" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="padding-left: 25px;">
                                            <div id="prm" class="form-group" disabled>
                                                <label for="txtcatalogoe" style="color: #3d566e;">Catálogo Enviado:</label>
                                                <div class="form-group">
                                                    <input type="text" value="" placeholder="" readonly="readonly" maxlength="55" class="form-control" name="txtcatalogoe" id="txtcatalogoe" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="padding-left: 25px;">
                                            <div id="prm" class="form-group" disabled>
                                                <label for="txtpremiop" style="color: #3d566e;">Premio Pedido:</label>
                                                <div class="form-group">
                                                    <input type="text" value="" placeholder="" readonly="readonly" maxlength="55" class="form-control" name="txtpremiop" id="txtpremiop" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="padding-left: 25px;">
                                            <div id="prm" class="form-group" disabled>
                                                <label for="txtpremioe" style="color: #3d566e;">Premio Enviado:</label>
                                                <div class="form-group">
                                                    <input type="text" value="" placeholder="" readonly="readonly" maxlength="55" class="form-control" name="txtpremioe" id="txtpremioe" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="padding-left: 25px;">
                                            <div id="prm" class="form-group" disabled>
                                                <label for="txttotalm" style="color: #3d566e;">Total Monto:</label>
                                                <div class="form-group">
                                                    <input type="text" value="" placeholder="" readonly="readonly" maxlength="55" class="form-control" name="txttotalm" id="txttotalm" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>  
                    <div class="row">
                        <div class="col-md-10">
                            <div class="box box-danger">
                               
                            </div>
                            <div class="col-md-6">
                                @*<a href="@Url.Action("ClienteEditar", "Clientes",new {estado= "1"})" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>&nbsp;Crear nuevo Cliente</a>*@       
                                <button id="btn_gcambios_agregar" onclick="agregar_lider();" type="submit" title="Agregar Lider" class="btn btn-success">
                                    <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Agregar Lider
                                </button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button id="btn_exportar" onclick="exportar();" type="submit" title="Exportar a excel" class="btn btn-success">
                                    <span class="glyphicon glyphicon-export"></span>&nbsp;&nbsp;Exportar a Excel
                                </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button id="btn_gcambios" onclick="generar_despacho();" type="submit" title="Guardar Cambios" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-saved"></span>&nbsp;&nbsp;Guardar Cambios
                                </button>

                                @*<a href="@Url.Action("ListaClienteExcel","Clientes")" class="btn btn-primary"><i class="glyphicon glyphicon-export"></i>&nbsp;&nbsp;Exportar Lista</a>*@
                            </div>
                         </div>
                     </div>
                    <br />
                    <br />  
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="tb_despacho_edit" class="table table-hover table-bordered compact">
                                    <thead>
                                        <tr>
                                            <th>Asesor</th>
                                            <th>Lider</th>
                                            <th>Promotor</th>
                                            <th>Rotulo</th>
                                            <th></th>
                                            <th>Agencia</th>
                                            <th>Destino</th>
                                            <th>Pedidos</th>
                                            <th>T.Cant</th>
                                            <th>T.Cant.Env</th>
                                            <th>Monto</th>
                                            <th valign="middle" style="text-align:center;width:2%">
                                                Flete
                                            </th>
                                            <th>Observacion</th>
                                            <th>Detalle</th>
                                            <th valign="middle" style="text-align:center;width:2%">Eliminar</th>

                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:"></tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Asesor</th>
                                            <th>Lider</th>
                                            <th>Promotor</th>
                                            <th>Rotulo</th>
                                            <th></th>
                                            <th>Agencia</th>
                                            <th>Destino</th>
                                            <th>Pedidos</th>
                                            <th>T.Cant</th>
                                            <th>T.Cant.Env</th>
                                            <th>Monto</th>
                                            <th valign="middle" style="text-align:center;width:2%">
                                                Flete
                                            </th>
                                            <th>Observacion</th>
                                            <th>Detalle</th>
                                            <th valign="middle" style="text-align:center;width:2%">Eliminar</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>                               
                </div>
             </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-app>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="myModalContent">
                <input type="hidden" id="lid_prom" value="" />
                <input type="hidden" id="upd" value="" />

                <input type="hidden" id="h_agencia" value="" />
                <input type="hidden" id="h_destino" value="" />
                <input type="hidden" id="h_flete" value="" />
                <input type="hidden" id="h_observacion" value="" />
                <input type="hidden" id="h_detalle" value="" />

                <div class="modal-header modal-header-primary">
                    <button type="button"  class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="lbl_lider"></h4>
                </div>
                <div class="modal-body" id="myModalContent">
                    <div class="form-group">
                        <div class="input-group">
                            <label for="dwapl">Seleccionar Rotulo {Promotor}</label>
                        </div>
                        <div class="input-group">

                            <div id="divrotulo">
                            </div>
                            @Html.DropDownList("dwp", new SelectList(ViewBag.Lista, "documento", "descripcion"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwp", @data_actions_box = "true", @data_selected_text_format = "count > 2", @data_width = "100%" })
                            <span class="input-group-btn">
                                <button type="submit" onclick="agregar_rotulo();" title="Agregar Rotulo" class="btn btn-primary btn-flat">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top:-30px">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Linkend/linq.min.js"></script>

    <script>
        function mostrar(){
            if ($('#chkmostrar').is(':checked')) {

                var table= $('#tb_despacho').DataTable();
                var data = table.rows().data();
                var dataArray_despacho = function () { return @Html.Raw(Json.Encode(ViewBag.ListaDespachoUpd)); }();

                data.each(function (value, index) {

                    var row = table.rows(index).data();

                    var strLid_Prom = data[index].Lid_Prom;

                    var cell = table.cell({ row: index, column: 13 }).node();

                    var chk_agregar =$('input', cell).is(':checked');

                    dataobj_despacho = function () { return @Html.Raw(Json.Encode(ViewBag.DespachoUpd)); }();                        
                    dataobj_despacho.strLid_Prom = strLid_Prom;

                    var ag=false;

                    if (chk_agregar){
                        ag=true;
                    }
                    dataobj_despacho.BolAgregar=ag;
                    dataArray_despacho.push(dataobj_despacho);

                });

                waitingDialog.show("Espere por favor...");
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("UpdateAgregarChk", "Logistica")',
                    data: { estado_accion: estado_accion,desp_lista_upd:dataArray_despacho/*agencia:h_agencia,destino:h_destino,observacion:h_observacion,detalle:h_detalle,flete:h_flete*/},
                    success: function (data) {
                        if (data.estado == 0) {
                            //      waitingDialog.hide()
                           
                            if (estado_accion == 1 || estado_accion == 3) {                               
                                agregar_chk=true;
                                $('#tb_despacho').DataTable().ajax.reload(function () {
                                    waitingDialog.hide();
                                });

                            } 


                        } else {
                            toastr.error(data.mensaje, 'Mensaje');
                            waitingDialog.hide()
                        }
                    },
                    error: function (xhr) {
                        waitingDialog.hide();
                        toastr.error(xhr, 'Mensaje');
                    }
                });
            
            } else{
                agregar_chk=false;
                waitingDialog.show("Espere por favor...");
                $('#tb_despacho').DataTable().ajax.reload(function () {
                    waitingDialog.hide();
                });
            }
        }
        function exportar_new(){
            //alert('ok');
            //return;
            waitingDialog.show("Espere por favor...")
            $.ajax({
                type: "POST",
                url: '@Url.Action("get_exporta_excel_new", "Logistica")',
                data: {id:iddespacho},
                success: function (data) {
                    waitingDialog.hide();
                    if (data.estado == "1") {                        
                        toastr.success(data.mensaje);
                        window.location = '@Url.Action("ListaDespachoExcel")';
                    }
                    else {                        
                        toastr.error(data.mensaje, "Alerta");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    waitingDialog.hide();
                    toastr.error("Error al consultar.", "Alerta");
                }
            });
        }

        function exportar(){         
            waitingDialog.show("Espere por favor...")
            $.ajax({
                type: "POST",
                url: '@Url.Action("get_exporta_excel", "Logistica")',
                data: {id:iddespacho},
                success: function (data) {
                    waitingDialog.hide();
                    if (data.estado == "1") {                        
                        toastr.success(data.mensaje);
                        window.location = '@Url.Action("ListaDespachoExcel")';
                    }
                    else {                        
                        toastr.error(data.mensaje, "Alerta");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    waitingDialog.hide();
                    toastr.error("Error al consultar.", "Alerta");
                }
            });
        }
    </script>

    <script>
        function agregar_lider() {
            estado_accion = 3
            buscar();
            $('#txtdescripcion').prop("disabled", true);
            document.getElementById("btncrear").innerHTML = "Agregar Despacho";
            inicio_pag();
        }
    </script>

    <script>

        function eliminar_item(iddetalle, lid_prom,id) {

            swal({
                title: "Eliminar detalle del despacho",
                text: '¿Esta seguro de eliminar el detalle de despacho?',
                icon: "warning",
                buttons: ["No", "Si"],
                dangerMode: true,
            }).then((cambiar) => {
                if (cambiar) {
                    waitingDialog.show("Espere por favor...");
                    $.ajax({
                        type: "Post",
                        url: '@Url.Action("EliminarItemDespachoEdit", "Logistica")',
                        data: { iddespacho: iddetalle, lid_prom: lid_prom },
                        success: function (data) {
                            if (data.estado == 0) {
                                obtener_despacho(id);
                                waitingDialog.hide();
                            } else {
                                toastr.error(data.mensaje, 'Mensaje');
                                waitingDialog.hide()
                            }
                        },
                        error: function (xhr) {
                            waitingDialog.hide();
                            toastr.error(xhr, 'Mensaje');
                        }
                    });
                }


            });



        }

        function obtener_despacho(id) {

            //waitingDialog.show("Espere por favor...");
            $.ajax({
                type: "Post",
                url: '@Url.Action("ConsultaDespachoEdit", "Logistica")',
                data: { iddespacho: id},
                success: function (data) {
                    if (data.estado == 0) {

                        $.each(data.infocab, function (index, value) {
                            $('#txtdocumento').val(value.Desp_NroDoc);
                            $('#txtfec_cre').val(value.Desp_FechaCre);
                            $('#txtestado').val(value.estado);
                            $('#txtdescripcion').val(value.Desp_NroDoc);

                            return false;
                        });
                        $.each(data.infodet, function (index, value) {
                            $('#txtpares_pedido ').val(value.NroPedidos);
                            $('#txtpares_enviado ').val(value.NroEnviados);
                            $('#txtcatalogof ').val(value.CatalogPedidos);
                            $('#txtcatalogoe ').val(value.CatalogEnviados);
                            $('#txtpremiop ').val(value.NroPremio);
                            $('#txtpremioe ').val(value.PremioEnviados);
                            $('#txttotalm ').val("S/ " + value.MontoTotal.toFixed(2));
                            return false;
                        });
                        $('#tb_despacho_edit').DataTable().ajax.reload(function () {
                            waitingDialog.hide();
                        });


                    } else {
                        toastr.error(data.mensaje, 'Mensaje');
                        waitingDialog.hide()
                    }
                },
                error: function (xhr) {
                    waitingDialog.hide();
                    toastr.error(xhr, 'Mensaje');
                }
            });
        }

        function generar_despacho() {

            //#region
            /*nueva despacho*/
            if (estado_accion == 1 || estado_accion == 3) {
                if (rows_selected.length == 0) {
                    toastr.error('No ha seleccionado ningun registro..', 'Mensaje');
                    return;
                }

                var table= $('#tb_despacho').DataTable();

                var data = table.rows().data();

                var dataArray_despacho = function () { return @Html.Raw(Json.Encode(ViewBag.ListaDespachoUpd)); }();

                data.each(function (value, index) {

                    var row = table.rows(index).data();

                    var cell = table.cell({ row: index, column: 13 }).node();

                    var chk_agregar =$('input', cell).is(':checked');

                    if (chk_agregar) {
                        /*solo los que estan seleccionados*/
                        cell = table.cell({ row: index, column: 5 }).node();
                        var strAgencia = $('textarea', cell).val();
                        if (strAgencia.length == 0) {
                            toastr.error('El campo agencia no puede estar vacio..', 'Mensaje');
                            return;
                        }
                        cell = table.cell({ row: index, column: 6 }).node();
                        var strDestino = $('textarea', cell).val();
                        if (strDestino.length == 0) {
                            toastr.error('El campo destino no puede estar vacio..', 'Mensaje');
                            return;
                        }

                        var strIdLider = data[index].area_id;
                        var strLider = data[index].NombreLider;
                        var strLid_Prom = data[index].Lid_Prom;
                        var strPromotor = data[index].Promotor;
                        var strPedidos = data[index].Pedido;
                        var strRotulo = data[index].Rotulo;
                        var strRotuloCourier = '';
                        var strPares = data[index].TotalPares;
                        var strCatalogo = data[index].TotalCatalogo;
                        var strPremio = data[index].TotalPremio;
                        var strMonto = data[index].TotalVenta;

                        cell = table.cell({ row: index, column: 11 }).node();
                        var strObs = $('textarea', cell).val();

                        cell = table.cell({ row: index, column: 12 }).node();
                        var strDetalle = $('textarea', cell).val();

                        var strMcaCourier = 'N';
                        var strMcaFlete = 'N';

                        var cell = table.cell({ row: index, column: 10 }).node();
                        var chk_flete = $('input', cell).is(':checked');
                        if (chk_flete) strMcaFlete = 'S'

                        dataobj_despacho = function () { return @Html.Raw(Json.Encode(ViewBag.DespachoUpd)); }();
                        dataobj_despacho.strIdLider = strIdLider;
                        dataobj_despacho.strLider = strLider;
                        dataobj_despacho.strLid_Prom = strLid_Prom;
                        dataobj_despacho.strPromotor = strPromotor;
                        dataobj_despacho.strPedidos = strPedidos;
                        dataobj_despacho.strRotulo = strRotulo;
                        dataobj_despacho.strRotuloCourier = strRotuloCourier;
                        dataobj_despacho.strPares = strPares;
                        dataobj_despacho.strCatalogo = strCatalogo;
                        dataobj_despacho.strPremio = strPremio;

                        dataobj_despacho.strDestino = strDestino;
                        dataobj_despacho.strAgencia = strAgencia;

                        dataobj_despacho.strMonto = strMonto;
                        dataobj_despacho.strObs = strObs;
                        dataobj_despacho.strDetalle = strDetalle;
                        dataobj_despacho.strMcaCourier = strMcaCourier;
                        dataobj_despacho.strMcaFlete = strMcaFlete;

                        dataArray_despacho.push(dataobj_despacho);

                    }


                });
            } else { /*editar despacho*/


                var table = $('#tb_despacho_edit').DataTable();

                var data = table.rows().data();

                var dataArray_despacho = function () { return @Html.Raw(Json.Encode(ViewBag.ListaDespachoUpd)); }();

                data.each(function (value, index) {

                    var row = table.rows(index).data();

                        cell = table.cell({ row: index, column: 5 }).node();
                        var strAgencia = $('textarea', cell).val();
                        if (strAgencia.length == 0) {
                            toastr.error('El campo agencia no puede estar vacio..', 'Mensaje');
                            return;
                        }
                        cell = table.cell({ row: index, column: 6 }).node();
                        var strDestino = $('textarea', cell).val();
                        if (strDestino.length == 0) {
                            toastr.error('El campo destino no puede estar vacio..', 'Mensaje');
                            return;
                        }

                        var strIdLider = data[index].IdLider;
                        var strIdDetalle = data[index].Desp_IdDetalle;
                        var strLider = data[index].NombreLider;
                        var strLid_Prom = data[index].Lid_Prom;
                        var strPromotor = data[index].Promotor;
                        var strPedidos = data[index].Pedido;
                        var strRotulo = data[index].Rotulo;
                        var strRotuloCourier = '';
                        var strPares = data[index].TotalPares;
                        var strCatalogo = data[index].TotalCatalogo;
                        var strPremio = data[index].TotalPremio;
                        var strMonto = data[index].TotalVenta;

                        cell = table.cell({ row: index, column: 12 }).node();
                        var strObs = $('textarea', cell).val();

                        cell = table.cell({ row: index, column: 13 }).node();
                        var strDetalle = $('textarea', cell).val();

                        var strMcaCourier = 'N';
                        var strMcaFlete = 'N';

                        var cell = table.cell({ row: index, column: 11 }).node();
                        var chk_flete = $('input', cell).is(':checked');
                        if (chk_flete) strMcaFlete = 'S'

                        dataobj_despacho = function () { return @Html.Raw(Json.Encode(ViewBag.DespachoUpd)); }();
                        dataobj_despacho.strIdLider = strIdLider;

                        dataobj_despacho.strIdDetalle = strIdDetalle;

                        dataobj_despacho.strLider = strLider;
                        dataobj_despacho.strLid_Prom = strLid_Prom;
                        dataobj_despacho.strPromotor = strPromotor;
                        dataobj_despacho.strPedidos = strPedidos;
                        dataobj_despacho.strRotulo = strRotulo;
                        dataobj_despacho.strRotuloCourier = strRotuloCourier;
                        dataobj_despacho.strPares = strPares;
                        dataobj_despacho.strCatalogo = strCatalogo;
                        dataobj_despacho.strPremio = strPremio;


                        dataobj_despacho.strDestino = strDestino;
                        dataobj_despacho.strAgencia = strAgencia;

                        dataobj_despacho.strMonto = strMonto;
                        dataobj_despacho.strObs = strObs;
                        dataobj_despacho.strDetalle = strDetalle;
                        dataobj_despacho.strMcaCourier = strMcaCourier;
                        dataobj_despacho.strMcaFlete = strMcaFlete;

                        dataArray_despacho.push(dataobj_despacho);

                    //}


                });

            }

            //#endregion



            //var estado = 1;

            switch (estado_accion) {
                case 1:
                    mensaje = "¿Está seguro generar el despacho?"
                    break;
                case 2:
                    mensaje = "¿Está seguro guardar los datos modificados?"
                    break;
                case 3:
                    mensaje = "¿Está seguro agregar lider al despacho Nro." + iddespacho.toString() + '?';
                    break;
            }

            swal({
                title: "Actualizacion de despacho" ,
                text: mensaje,
                icon: "warning",
                buttons: ["No", "Si"],
                dangerMode: true,
            }).then((cambiar) => {
                if (cambiar) {
                    waitingDialog.show("Espere un momento por favor.")
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GenerarDespacho", "Logistica")',
                        data: { estado_accion:estado_accion,iddespacho_upd:iddespacho, desp_lista_upd: dataArray_despacho },
                        success: function (data) {
                            if (data.estado == 0) {

                                if (estado_accion == 1 || estado_accion == 2 || estado_accion == 3) {

                                    estado_accion= (estado_accion == 1)?2:2;
                                    rows_selected = [];
                                    iddespacho = data.iddespacho;
                                    obtener_despacho(iddespacho);

                                    inicio_pag();

                                    toastr.success(data.mensaje);
                                       // waitingDialog.hide();

                                }
                                else {

                                }


                            } else {
                                toastr.error(data.mensaje);
                                waitingDialog.hide();
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            waitingDialog.hide();
                            toastr.error("Error al consultar.", "Alerta");
                        }
                    });
                }
            });

        }

        function buscar() {
            var d = new Date();
            //$("#datepickerini").datepicker({
            //    autoclose: true,
            //    todayHighlight: true

            //}).datepicker("setDate", sumarDias(d, -15));


            $("#datepickerfin").datepicker({
                autoclose: true,
                todayHighlight: true
            }).datepicker("setDate", "0");

            actualizar_data = "1";
            fecha_ini = $("#fecini").val();
            fecha_fin = $("#fecfin").val();
            tipo_des = "P";
            waitingDialog.show("Espere por favor...");
            $('#tb_despacho').DataTable().ajax.reload(function () {
                waitingDialog.hide();
            });

            //var oTable = $('#tb_despacho').dataTable();
            ////oTable.fnUpdate('Prueba de accion', parseInt(0), parseInt(0));
            //oTable.fnUpdate('Development', 0, 0);
        }
        function agregar_rotulo() {

            //$('#lid_prom').val()
            var lid_prom = $('#lid_prom').val();
            var dataArray_despacho = function () { return @Html.Raw(Json.Encode(ViewBag.ListaDespachoUpd)); }();
            var table=null;
            var data=null;

            if (estado_accion==1 || estado_accion==3){
                table= $('#tb_despacho').DataTable();
                data = table.rows().data();
                data.each(function (value, index) {
                    var row = table.rows(index).data();

                    var cell = table.cell({ row: index, column: 5 }).node();
                    var strAgencia = $('textarea', cell).val();

                    cell = table.cell({ row: index, column: 6 }).node();
                    var strDestino = $('textarea', cell).val();

                    cell = table.cell({ row: index, column: 11 }).node();
                    var strObs = $('textarea', cell).val();

                    cell = table.cell({ row: index, column: 12 }).node();
                    var strDetalle = $('textarea', cell).val();

                    var strMcaFlete = 'N';

                    var cell = table.cell({ row: index, column: 10 }).node();
                    var chk_flete = $('input', cell).is(':checked');
                    if (chk_flete) strMcaFlete = 'Si'

                    var strLid_Prom = data[index].Lid_Prom;

                    dataobj_despacho = function () { return @Html.Raw(Json.Encode(ViewBag.DespachoUpd)); }();
                    dataobj_despacho.strDestino = strDestino;
                    dataobj_despacho.strAgencia = strAgencia;                
                    dataobj_despacho.strObs = strObs;
                    dataobj_despacho.strDetalle = strDetalle;                
                    dataobj_despacho.strMcaFlete = strMcaFlete;
                    dataobj_despacho.strLid_Prom=strLid_Prom;
                    dataArray_despacho.push(dataobj_despacho);


                });
            } else{
                table= $('#tb_despacho_edit').DataTable();
                data = table.rows().data();
                data.each(function (value, index) {
                    var row = table.rows(index).data();

                    var cell = table.cell({ row: index, column: 5 }).node();
                    var strAgencia = $('textarea', cell).val();

                    cell = table.cell({ row: index, column: 6 }).node();
                    var strDestino = $('textarea', cell).val();

                    cell = table.cell({ row: index, column: 12 }).node();
                    var strObs = $('textarea', cell).val();

                    cell = table.cell({ row: index, column: 13 }).node();
                    var strDetalle = $('textarea', cell).val();

                    var strMcaFlete = 'N';

                    var cell = table.cell({ row: index, column: 11 }).node();
                    var chk_flete = $('input', cell).is(':checked');
                    if (chk_flete) strMcaFlete = 'Si'

                    var strLid_Prom = data[index].Lid_Prom;

                    dataobj_despacho = function () { return @Html.Raw(Json.Encode(ViewBag.DespachoUpd)); }();
                    dataobj_despacho.strDestino = strDestino;
                    dataobj_despacho.strAgencia = strAgencia;                
                    dataobj_despacho.strObs = strObs;
                    dataobj_despacho.strDetalle = strDetalle;                
                    dataobj_despacho.strMcaFlete = strMcaFlete;
                    dataobj_despacho.strLid_Prom=strLid_Prom;
                    dataArray_despacho.push(dataobj_despacho);
                });

            }


            //var table= $('#tb_despacho').DataTable();

            //var data = table.rows().data();



            //var h_agencia= $('#h_agencia').val();
            //var h_destino= $('#h_destino').val();
            //var h_observacion= $('#h_observacion').val();
            //var h_detalle= $('#h_detalle').val();
            //var h_flete= $('#h_flete').val();

            var str_dni = $('#dwp').val();
            var str_nom = $("option:selected", $("#dwp")).text();

            var rutulo = str_nom.toUpperCase() + " DNI:" + str_dni;



            waitingDialog.show("Espere por favor...");
            $.ajax({
                type: "Post",
                url: '@Url.Action("UpdateRotulo", "Logistica")',
                data: { lid_prom: lid_prom, rotulo: rutulo, estado_accion: estado_accion,desp_lista_upd:dataArray_despacho/*agencia:h_agencia,destino:h_destino,observacion:h_observacion,detalle:h_detalle,flete:h_flete*/},
                success: function (data) {
                    if (data.estado == 0) {
                        waitingDialog.hide()
                        $('#myModal').modal('hide');
                        $('body').removeClass('modal-open');
                        $('.modal-backdrop').remove();

                        if (estado_accion == 1 || estado_accion == 3) {
                            var oTable = $('#tb_despacho').dataTable();
                            oTable.fnUpdate();
                        } else {
                            var oTable = $('#tb_despacho_edit').dataTable();
                            oTable.fnUpdate();
                        }


                    } else {
                        toastr.error(data.mensaje, 'Mensaje');
                        waitingDialog.hide()
                    }
                },
                error: function (xhr) {
                    waitingDialog.hide();
                    toastr.error(xhr, 'Mensaje');
                }
            });






        }


        function ListarRotulo(lista) {
            var dataArray = lista;


            /*este es otro metodo de llenado del select jquery*/
            var $select = $('#dwp');
            $select.html('');
            //$select.children('option:not(:first)').remove();



            $select.selectpicker("destroy");
            $select.selectpicker("refresh");
            //$select.empty();

            $.each(dataArray, function (index, value) {
                $select.append(new Option(value.descripcion, value.documento));
            });
            $select.selectpicker("refresh");

            /*este es otro metodo de llenado del select*/
            return;


            llenarComboRotulo("divrotulo", "dwrotulo", dataArray, '0', '', "", '1');
        }

        function llenarComboRotulo(DivId, IdControl, Data, codDefecto, desDefecto, onchangeFuncion) {





            $('#' + IdControl).find('option').remove();


            var str = '<select class="selectpicker"  data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '" data-actions-box="true"  data-selected-text-format="count > 2" >';
            var ItemNormal = '<option value="codItem">desItem</option>';
            var colectItemNormal = '';

            //if (codDefecto != '') { str += '<option value="' + codDefecto + '" selected="selected">------' + desDefecto + '------</option>'; }

            if (onchangeFuncion != '') { onchangeFuncion = 'onchange = "' + onchangeFuncion + '()"' }
            str = str.replace("onchangeFuncion", onchangeFuncion);

            $.each(Data, function (index, item) {

                colectItemNormal = colectItemNormal + ItemNormal
                var strSelected = '"';

                if (item.cod_entid == codDefecto) {
                    strSelected = '" selected="selected" '

                }
                strSelected = '" selected="selected" '; // seleccionar todos al cargar
                colectItemNormal = colectItemNormal.replace("codItem", item.documento + strSelected);
                colectItemNormal = colectItemNormal.replace("desItem", item.descripcion);

            });

            str += colectItemNormal
            str += '</select>'

            document.getElementById(DivId).innerHTML = str

            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true
            });

        }
        function popup_rotulo(Lid, Lid_Nom,Lid_Prom,row_index) {

            //var  h_agencia='';
            //var h_destino='';
            //var h_observacion='';
            //var h_detalle='';
            //var h_flete='N';
            //var table=null;

            //if (estado_accion==1 || estado_accion==3){
            //    table= $('#tb_despacho').DataTable();
            //    var row = table.rows(row_index).data();
            //    cell = table.cell({ row: row_index, column: 5 }).node();
            //    h_agencia= $('textarea', cell).val();

            //    cell = table.cell({ row: row_index, column: 6 }).node();
            //    h_destino=$('textarea', cell).val();

            //    cell = table.cell({ row: row_index, column: 11 }).node();
            //    h_observacion=$('textarea', cell).val();

            //    cell = table.cell({ row: row_index, column: 12 }).node();
            //    h_detalle=$('textarea', cell).val();

            //    var cell = table.cell({ row: row_index, column: 10 }).node();
            //    var chk_flete = $('input', cell).is(':checked');
            //    if (chk_flete) h_flete = 'Si'

            //} else{
            //    table= $('#tb_despacho_edit').DataTable();
            //    var row = table.rows(row_index).data();
            //    cell = table.cell({ row: row_index, column: 5 }).node();
            //    h_agencia= $('textarea', cell).val();

            //    cell = table.cell({ row: row_index, column: 6 }).node();
            //    h_destino=$('textarea', cell).val();

            //    cell = table.cell({ row: row_index, column: 12 }).node();
            //    h_observacion=$('textarea', cell).val();

            //    cell = table.cell({ row: row_index, column: 13 }).node();
            //    h_detalle=$('textarea', cell).val();

            //    var cell = table.cell({ row: row_index, column: 11 }).node();
            //    var chk_flete = $('input', cell).is(':checked');
            //    if (chk_flete) h_flete = 'Si'
            //}




            waitingDialog.show("Espere por favor...");
            $.ajax({
                type: "Post",
                url: '@Url.Action("getRotulo_promotor", "Logistica")',
                data: { idlider: Lid },
                success: function (data) {
                    if (data.estado == 0) {
                        ListarRotulo(data.info);
                        waitingDialog.hide()
                        $('#lid_prom').val(Lid_Prom);

                        //$('#h_agencia').val(h_agencia);
                        //$('#h_destino').val(h_destino);
                        //$('#h_observacion').val(h_observacion);
                        //$('#h_detalle').val(h_detalle);
                        //$('#h_flete').val(h_flete);

                        $('#lbl_lider').html('Lider: ' + Lid_Nom);
                        var options = { "backdrop": "static", keyboard: true };
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    } else {
                        toastr.error(data.mensaje, 'Mensaje');
                        waitingDialog.hide()
                    }
                },
                error: function (xhr) {
                    waitingDialog.hide();
                    toastr.error(xhr, 'Mensaje');
                }
            });

        }
    </script>

    <script>
        function sumarDias(fecha, dias) {
            fecha.setDate(fecha.getDate() + dias);
            return fecha;
        }

        var actualizar_data = "";
        var fecha_ini = "";
        var fecha_fin = "";
        var tipo_des = "";

        var rows_selected = [];
        var table;

        var estado_accion =0;  /*2 si estado es 1 entonces es nuevo, si es 2= entonces se esta modificando, si es 3 se esta agregando*/

        var iddespacho = 0;// 100655;

        var desactivar=0;

        var agregar_chk=false;

        //var dataArray_despacho;
        //var dataobj_despacho;

        function inicio_pag() {
            /**/
            if (estado_accion == 1 || estado_accion == 3) {
                if (estado_accion==1) iddespacho = 0;
                $('#tab_editar').addClass('hide')
                $('#tab_agregar').removeClass('hide')
                $('#tab_agregar').trigger('click')
            } else {
                $('#tab_agregar').addClass('hide')
                $('#tab_editar').removeClass('hide')
                $('#tab_editar').trigger('click')


            }
        }

        $(document).ready(function () {

            $("body").toggleClass('sidebar-collapse');

            var d = new Date();

            $("#datepickerini").datepicker({
                autoclose: true,
                todayHighlight: true

            }).datepicker("setDate", sumarDias(d, -30));


            $("#datepickerfin").datepicker({
                autoclose: true,
                todayHighlight: true
            }).datepicker("setDate", "0");


            estado_accion=@ViewBag.estado;
            iddespacho=@ViewBag.desp_id;

            desactivar=@ViewBag.estado_edicion;

            actualizar_data=(estado_accion==1)?"1":"";

            $("#dc_tipo1").html("@ViewBag.TipoDes");
            $("#dc_tipo2").html("@ViewBag.TipoDes");

            if (desactivar==1){
                $("#btn_gcambios_agregar").prop('disabled', true);
                $("#btn_gcambios").prop('disabled', true);
            }

            fecha_ini = $("#fecini").val();
            fecha_fin = $("#fecfin").val();
            tipo_des = "P";

            inicio_pag();
            if (iddespacho!=0)obtener_despacho(iddespacho);

            if (estado_accion==1 || estado_accion==2){
                waitingDialog.show("Espere por favor...");
            }

            /*datatable edicion*/
            $('#tb_despacho_edit').DataTable({
                "dom": 't<"row"<"col-md-6"f><"col-md-6"p>>',
                "iDisplayLength": 1500,
                "language": {
                    "url": "../Scripts/DataTables/Spanish.json"
                },
                "bServerSide": true,
                "bAutoWidth": false,
                "sAjaxSource": '@Url.Action("getListDespachoAlmacenEditarAjax", "Logistica")',
                "fnServerParams": function (aoData) {
                    //aoData.push({ "name": "actualizar", "value": actualizar_data });
                    //aoData.push({ "name": "fecha_ini", "value": fecha_ini });
                    //aoData.push({ "name": "fecha_fin", "value": fecha_fin });
                    //aoData.push({ "name": "tipo_des", "value": tipo_des });
                    //actualizar_data = "";
                },
                //"scrollX": true,
                //"scrollY": 300,
                //"bFilter": true,
                //"bPaginate": false,
                //"sPaginationType": "bootstrap",
                "sort": false,
                "bProcessing": true,
                "orderable": false,
                "bDeferRender": true,
                //"bdestroy": true,
                "start": 0,
                "columnDefs": [{
                    "orderable": false,
                    //"targets": [3, 6, 7, 9],
                }],
                //"bDeferRender": true,
                "drawCallback": function( settings ) {
                    if (estado_accion==2) waitingDialog.hide();
                },
                'rowCallback': function (row, data, dataIndex) {

                    var rowId = data;

                    if (rows_selected != null) {
                        if (rows_selected.length > 0) {
                            var fila_select = rows_selected.filter(obj => obj.Lid_Prom == rowId.Lid_Prom)

                            if (fila_select.length > 0) {
                                $('input.chkag', row).prop('checked', true);
                                $(row).addClass('info text-bold');
                            }

                        }
                    }


                },

                "aoColumns": [
                      { "sName": "asesor", "mData": "asesor" },
                      { "sName": "NombreLider", "mData": "NombreLider" },
                      { "sName": "Promotor", "mData": "Promotor" },
                      { "sName": "Rotulo", "mData": "Rotulo" },
                       {
                           "render": function (data, type, full,meta) {

                               var Lid = full.IdLider;
                               var Lid_Prom = full.Lid_Prom;
                               var Lid_Nom = full.NombreLider;
                               var index=meta.row;

                               var btn_edit_rotulo='';

                               if (desactivar==0){
                                   btn_edit_rotulo = '<button type="submit" title="Editar Rotulo" onclick="popup_rotulo(\'' + Lid + '\',\'' + Lid_Nom + '\',\'' + Lid_Prom + '\',' + index + ');" class="btn btn-xs btn-default btn-tabla editar-fila"><span class="fa fa-pencil text-primary"></span></button>';
                               } else{
                                   btn_edit_rotulo = '<button type="submit" disabled title="Editar Rotulo" onclick="popup_rotulo(\'' + Lid + '\',\'' + Lid_Nom + '\',\'' + Lid_Prom + '\',' + index + ');" class="btn btn-xs btn-default btn-tabla editar-fila"><span class="fa fa-pencil text-primary"></span></button>';
                               }



                               return btn_edit_rotulo;
                           }, "class": "boton-xs-td"
                       },
                        {
                            "render": function (data, type, full) {

                                var agencia = full.Agencia;

                                var text_agencia='';
                                if (desactivar==0){
                                    text_agencia = ' <div class="form-group"><textarea style="width:100px; height:80px;" class="form-control" id="txtagencia">' + agencia + '</textarea></div>';
                                }else{
                                    text_agencia = ' <div class="form-group"><textarea disabled style="width:100px; height:80px;" class="form-control" id="txtagencia">' + agencia + '</textarea></div>';
                                }




                                return text_agencia;
                            },
                        },
                         {
                             "render": function (data, type, full) {

                                 var destino = full.Destino;

                                 var text_destino='';

                                 if (desactivar==0){
                                     text_destino = ' <div class="form-group"><textarea style="width:100px; height:80px;" class="form-control" id="txtdestino">' + destino + '</textarea></div>';
                                 }else{
                                     text_destino = ' <div class="form-group"><textarea disabled style="width:100px; height:80px;" class="form-control" id="txtdestino">' + destino + '</textarea></div>';
                                 }



                                 return text_destino;
                             },
                         },
                      { "sName": "Pedido", "mData": "Pedido" },
                      { "sName": "Total_Cantidad", "mData": "Total_Cantidad" },
                       { "sName": "Total_Cantidad_Envio", "mData": "Total_Cantidad_Envio" },

                       {
                           render: function (data, type, full) {
                               return "S/ " + full.TotalVenta.toFixed(2);
                           },
                       },
                       {
                           "render": function (data, type, full) {

                               var flete = (full.CobroFlete == 'Si') ? "1" : "0";

                               var chk_flete='';
                               if (desactivar==0){
                                   chk_flete = '<div class="form-group"><div class="col-sm-5 checkbox text-primary text-bold"><input style="cursor:pointer" type="checkbox" name="chk"  id="chk" ' + ((flete == "1") ? ' checked ' : ' ') + ' /></div></div>';
                               }else{
                                   chk_flete = '<div class="form-group"><div class="col-sm-5 checkbox text-primary text-bold"><input style="cursor:pointer" type="checkbox" disabled name="chk"  id="chk" ' + ((flete == "1") ? ' checked ' : ' ') + ' /></div></div>';
                               }


                               return chk_flete;
                           },
                       },

                        {
                            "render": function (data, type, full) {

                                //var agencia = '';

                                var observacion = full.Observacion;

                                var text_observacion='';
                                if (desactivar==0){
                                    text_observacion = ' <div class="form-group"><textarea style="width:100px; height:80px;" class="form-control" id="txtobs">' + observacion + '</textarea></div>';
                                }else{
                                    text_observacion = ' <div class="form-group"><textarea disabled style="width:100px; height:80px;" class="form-control" id="txtobs">' + observacion + '</textarea></div>';
                                }



                                return text_observacion;
                            },
                        },
                          {
                              "render": function (data, type, full) {

                                  var detalle = full.Detalle;

                                  var text_detalle='';

                                  if (desactivar==0){
                                      text_detalle = ' <div class="form-group"><textarea style="width:100px; height:80px;" class="form-control" id="txtdet">' + detalle + '</textarea></div>';
                                  }else{
                                      text_detalle = ' <div class="form-group"><textarea disabled style="width:100px; height:80px;" class="form-control" id="txtdet">' + detalle + '</textarea></div>';
                                  }



                                  return text_detalle;
                              },
                          },

                            {
                                "render": function (data, type, full) {

                                    var iddespacho = full.Desp_IdDetalle;
                                    var lid_prom = full.Lid_Prom;
                                    var id = full.Desp_id;

                                    var btn_borrar='';

                                    if (desactivar==0){
                                        btn_borrar = '<button title="Borrar registro" onclick="eliminar_item(' + iddespacho + ',' + lid_prom + ',' + id + ')" class="btn btn-xs btn-default btn-tabla anular" data-liqId="" data-pedId="" data-custId="" ><span class="fa fa-trash text-danger"></span></button>'
                                    }else{
                                        btn_borrar = '<button disabled title="Borrar registro" onclick="eliminar_item(' + iddespacho + ',' + lid_prom + ',' + id + ')" class="btn btn-xs btn-default btn-tabla anular" data-liqId="" data-pedId="" data-custId="" ><span class="fa fa-trash text-danger"></span></button>'
                                    }



                                    //var chk_agregar = '<div class="form-group"><div class="col-sm-5 checkbox text-primary text-bold"><input style="cursor:pointer" type="checkbox" name="chka"  id="chka" value="0" class="chkag" /></div></div>';

                                    return btn_borrar;
                                },
                            },

                ],
            });
            /**/
            //if (estado_accion==1){
            //    waitingDialog.show("Espere por favor...");
            //}
             $('#tb_despacho').DataTable({
                "dom": 't<"row"<"col-md-6"f><"col-md-6"p>>',
                "iDisplayLength": 1500,
                "language": {
                    "url": "../Scripts/DataTables/Spanish.json"
                },
                "bServerSide": true,
                "bAutoWidth": false,
                "sAjaxSource": '@Url.Action("getListDespachoAlmacenAjax", "Logistica")',
                "fnServerParams": function (aoData) {
                    aoData.push({ "name": "actualizar", "value": actualizar_data });
                    aoData.push({ "name": "fecha_ini", "value": fecha_ini });
                    aoData.push({ "name": "fecha_fin", "value": fecha_fin });
                    aoData.push({ "name": "tipo_des", "value": tipo_des });
                    aoData.push({ "name": "agregar", "value": agregar_chk });
                    agregar_chk=false;
                    actualizar_data = "";

                },
                "drawCallback": function( settings ) {
                    if (estado_accion==1) waitingDialog.hide();
                },
                //"scrollX": true,
                //"scrollY": 300,
                //"bFilter": true,
                //"bPaginate": false,
                //"sPaginationType": "bootstrap",
                "sort": false,
                "bProcessing": true,
                "orderable": false,
                "bDeferRender": true,
                //"bdestroy": true,
                "start": 0,
                "columnDefs": [{
                    "orderable": false,
                    //"targets": [3, 6, 7, 9],
                }],
                //"bDeferRender": true,
                'rowCallback': function (row, data, dataIndex) {

                    var rowId = data;

                    if (rows_selected != null) {
                        if (rows_selected.length > 0) {
                            var fila_select = rows_selected.filter(obj => obj.Lid_Prom == rowId.Lid_Prom)

                            if (fila_select.length > 0) {
                                $('input.chkag', row).prop('checked', true);
                                $(row).addClass('info text-bold');
                            }

                        }
                    }


                },

                "aoColumns": [
                      { "sName": "Asesor", "mData": "Asesor" },
                      { "sName": "NombreLider", "mData": "NombreLider" },
                      { "sName": "Promotor", "mData": "Promotor" },
                      { "sName": "Rotulo", "mData": "Rotulo" },
                       {
                           "render": function (data, type, full,meta) {

                               var Lid = full.area_id;
                               var Lid_Prom = full.Lid_Prom;
                               var Lid_Nom = full.NombreLider;
                               var index=meta.row;
                               var btn_edit_rotulo = '<button type="submit" title="Editar Rotulo" onclick="popup_rotulo(\'' + Lid + '\',\'' + Lid_Nom + '\',\'' + Lid_Prom + '\',' + index + ');" class="btn btn-xs btn-default btn-tabla editar-fila"><span class="fa fa-pencil text-primary"></span></button>';

                               return btn_edit_rotulo;
                           }, "class": "boton-xs-td"
                       },
                        {
                            "render": function (data, type, full) {

                                var agencia = full.Agencia;

                                var text_agencia = ' <div class="form-group"><textarea style="width:100px; height:80px;" class="form-control" id="txtagencia">' + agencia + '</textarea></div>';

                                return text_agencia;
                            },
                        },
                         {
                             "render": function (data, type, full) {

                                 var destino = full.Destino;

                                 var text_destino = ' <div class="form-group"><textarea style="width:100px; height:80px;" class="form-control" id="txtdestino">' + destino + '</textarea></div>';

                                 return text_destino;
                             },
                         },
                      { "sName": "Pedido", "mData": "Pedido" },
                      { "sName": "TotalCantidad", "mData": "TotalCantidad" },

                       {
                           render: function (data, type, full) {
                               return "S/ " + full.TotalVenta.toFixed(2);
                           },
                       },
                       {
                           "render": function (data, type, full) {

                               var flete = (full.Flete == 'Si') ? "1" : "0";

                               var chk_flete = '<div class="form-group"><div class="col-sm-5 checkbox text-primary text-bold"><input style="cursor:pointer" type="checkbox" name="chk"  id="chk" ' + ((flete=="1")? ' checked ':' ') + ' /></div></div>';

                               return chk_flete;
                           },
                       },

                        {
                            "render": function (data, type, full) {

                                var observacion = full.observacion;
                                if (observacion==null)  observacion='';

                                var text_observacion = ' <div class="form-group"><textarea style="width:100px; height:80px;" class="form-control" id="txtobs">' + observacion +'</textarea></div>';

                                return text_observacion;
                            },
                        },
                          {
                              "render": function (data, type, full) {

                                  var detalle =full.detalle;

                                  if (detalle==null)  detalle='';

                                  var text_detalle = ' <div class="form-group"><textarea style="width:100px; height:80px;" class="form-control" id="txtdet">' + detalle +'</textarea></div>';

                                  return text_detalle;
                              },
                          },

                            {
                                "render": function (data, type, full) {

                                    //var flete = full.Flete;

                                    var chk_agregar = '<div class="form-group"><div class="col-sm-5 checkbox text-primary text-bold"><input style="cursor:pointer" type="checkbox" name="chka"  id="chka" value="0" class="chkag" /></div></div>';

                                    return chk_agregar;
                                },
                            },

                ],
            });
            $('#tb_despacho tbody').on('click', 'input[type="checkbox"]', function (e) {
                var table = $('#tb_despacho').DataTable();
                var chk = this;
                if (chk.name == 'chka') {
                    // alert('ok');
                    var $row = $(this).closest('tr');

                    // Get row data
                    var data = table.row($row).data();

                    // Get row ID
                    var rowId = data;

                    //// Determine whether row ID is in the list of selected row IDs
                    var index = $.inArray(rowId, rows_selected);

                    //// If checkbox is checked and row ID is not in list of selected row IDs
                    if (this.checked && index === -1) {
                        rows_selected.push(rowId);

                        //    // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
                    } else if (!this.checked && index !== -1) {
                        rows_selected.splice(index, 1);
                    }

                    if (this.checked) {
                        $row.addClass('info text-bold');
                    } else {
                        $row.removeClass('info text-bold');
                    }


                    //// Prevent click event from propagating to parent
                    e.stopPropagation();
                }



            });

            $('#tb_despacho_edit tbody').on('click', 'input[type="checkbox"]', function (e) {
                var table = $('#tb_despacho_edit').DataTable();
                var chk = this;
                if (chk.name == 'chka') {
                    // alert('ok');
                    var $row = $(this).closest('tr');

                    // Get row data
                    var data = table.row($row).data();

                    // Get row ID
                    var rowId = data;

                    //// Determine whether row ID is in the list of selected row IDs
                    var index = $.inArray(rowId, rows_selected);

                    //// If checkbox is checked and row ID is not in list of selected row IDs
                    if (this.checked && index === -1) {
                        rows_selected.push(rowId);

                        //    // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
                    } else if (!this.checked && index !== -1) {
                        rows_selected.splice(index, 1);
                    }

                    if (this.checked) {
                        $row.addClass('info text-bold');
                    } else {
                        $row.removeClass('info text-bold');
                    }


                    //// Prevent click event from propagating to parent
                    e.stopPropagation();
                }



            });

        });
    </script>
}