@{
    ViewBag.Title = "Creación y modificación de Clientes";
    ViewBag.SubTitle = "";
}
<style>
    .table thead {
        background-color: #5799bf;
        color: #fff;
    }
    .modal-dialog {
    width: 370px;
    /*margin: 20px auto;*/
    /*height:50px;*/
}


</style>




<div class="row">
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">@ViewBag.EstadoDes</div>         
            <div class="box box-body box-header">             
                    <div class="col-md-6">
                        <div id="prm" class="form-group" disabled>
                            <label for="dwtipocliente" style="color: #3d566e;">Tipo de Cliente</label>
                            <div class="form-group">                              
                                @Html.DropDownList("dwtipocliente", new SelectList(ViewBag.UsuTipo, "usu_tip_id", "usu_tip_nombre", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwtipocliente", @name = "dwtipocliente", @data_actions_box = "true", @onchange= "selecciona_tipo_cliente();", @data_selected_text_format = "count > 2" })
                            </div>                
                        </div>
                    </div>                                
            </div>
        </div>
        </div>   
</div>

  <div class="row">
        <div class="col-md-7">
            <div class="box box-widget">
                <div class="box-header with-border">
                    <div class="user-block">
                        <img class="img-circle" src="../Content/images/placeholder-user.jpg" alt="User Image">
                        <span class="username" id="doc-nom-persona" style="color:#f88989">Datos basicos de información personal</span>                     
                        <span class="description" id="ubi-persona">&nbsp;</span>                                                
                    </div>
                    <!-- /.user-block -->
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" id="btnbasico" data-widget="collapse">
                            <i class="fa fa-minus" id="i_basico"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <div class="box-body" id="toggle-example">
                    <div class="row">
                        <div class="col-md-6" style="padding-left: 25px;">
                            <div id="prm" class="form-group" disabled>
                                <label for="dwtipodoc" style="color: #3d566e;">Tipo de Documento</label>
                                <div class="form-group">
                                    @Html.DropDownList("dwtipodoc", new SelectList(ViewBag.DocTipo, "Doc_Tip_Id", "Doc_Tip_Descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwtipodoc", @name = "dwtipodoc", @data_actions_box = "true", @data_selected_text_format = "count > 2" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-left: 25px;">
                            <div id="prm" class="form-group" disabled>
                                <label for="txtdni" style="color: #3d566e;">Numero de Documento</label>
                                <div class="form-group">
                                    @*<input type="text" value="" class="form-control" name="txtdni" id="txtdni" />*@
                                    <input id="txtdni"  data-dependency="txtprinom" type="number" min="0" step="1" maxlength="7" focus="true" required placeholder="Ingrese Dni o Ruc" class="form-control" />
                                </div>
                            </div>
                        </div>
                      
                    </div> 
                    <div class="row">
                        <div class="col-md-6" style="padding-left: 25px;">
                            <div id="prm" class="form-group" disabled>
                                <label for="txtprinom" style="color: #3d566e;">Primer Nombre</label>
                                <div class="form-group">
                                    <input type="text"  data-dependency="txtsegnom" value="" placeholder="Ingrese Primer Nombre" maxlength="55" class="form-control" name="txtprinom" id="txtprinom" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-left: 25px;">
                            <div id="prm" class="form-group" disabled>
                                <label for="txtsegnom" style="color: #3d566e;">Segundo Nombre</label>
                                <div class="form-group">
                                    <input type="text"  value="" placeholder="Ingrese Segundo Nombre" maxlength="55" class="form-control" name="txtsegnom" id="txtsegnom" />
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-6" style="padding-left: 25px;">
                            <div id="prm" class="form-group" disabled>
                                <label for="txtpriapepat" style="color: #3d566e;">Primer Apellido</label>
                                <div class="form-group">
                                    <input type="text" value="" maxlength="55" placeholder="Ingrese Primer Apellido" class="form-control" name="txtpriapepat" id="txtpriapepat" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-left: 25px;">
                            <div id="prm" class="form-group" disabled>
                                <label for="txtpriapemat" style="color: #3d566e;">Segundo Apellido</label>
                                <div class="form-group">
                                    <input type="text" value="" maxlength="55" placeholder="Ingrese Segundo Apellido" class="form-control" name="txtpriapemat" id="txtpriapemat" />
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-6" style="padding-left: 25px;">
                            <div id="prm" class="form-group" disabled>
                                <label for="fechanac" style="color: #3d566e;">Fecha Nacimiento</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div id="datepickerfecnac" class="input-group date" data-date-format="dd-mm-yyyy">
                                            <input id="fechanac" name="fechanac" value="" class="form-control custom-input" placeholder="dd-mm-yyyy" type="text" />
                                            <span class="input-group-addon  bg-white"><img src="~/Content/images/wall-calendar-with-lines.svg" height="20" width="20"></span>
                                        </div>
                                    </div>
                                    @*<input type="text" value="" class="form-control" name="promocion" id="promocion" />*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="padding-left: 25px;">
                            <div id="prm" class="form-group" disabled>
                                <label for="optfemenino" style="color: #3d566e;">Sexo</label>
                                <div class="form-group">                                    
                                    <label class="radio-inline"><input type="radio" name="opt" id="optfemenino" checked>Femenino</label>
                                    <label class="radio-inline"><input type="radio" name="opt" id="optmasculino">Masculino</label>                                    
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row" id="div_ruc_comi">
                        <div class="col-md-6" style="padding-left: 25px;">
                            <div id="prm" class="form-group" disabled>
                                <label for="txtruc_comi" style="color: #3d566e;">Numero de R.U.C (Comision)</label>
                                <div class="form-group">
                                    @*<input type="text" value="" class="form-control" name="txtdni" id="txtdni" />*@
                                    <input id="txtruc_comi" type="number" min="0" step="1" maxlength="7"  required placeholder="Ingrese el numero de Ruc" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="row">
    <div class="col-md-7">
        <div class="box box-widget">
            <div class="box-header with-border">
                <div class="user-block">
                    <img class="img-circle" src="~/Content/images/anular.png" alt="User Image">
                    <span class="username" id="doc-nom-persona" style="color:#f88989">Tipo de persona y otros aspectos</span>                
                </div>
                <!-- /.user-block -->
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" id="btntipper" data-widget="collapse">
                        <i class="fa fa-minus" id="i_tipper"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <div class="box-body">
                @*<div class="row">
                   
                </div>*@
                <div class="row">
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="dwpertipo" style="color: #3d566e;">Tipo de Persona</label>
                            <div class="form-group">                                
                                @Html.DropDownList("dwpertipo", new SelectList(ViewBag.PerTipo, "per_tip_id", "per_tip_descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwpertipo", @name = "dwpertipo", @data_actions_box = "true", @data_selected_text_format = "count > 2" })                                
                            </div>
                        </div>
                    </div>                 
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="txtemail" style="color: #3d566e;">E-Mail</label>
                            <div class="form-group">
                                <input type="email" value="" maxlength="155" class="form-control" placeholder="Ingrese el E-Mail" name="txtemail" id="txtemail" />
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="txttelefono" style="color: #3d566e;">Teléfono</label>
                            <div class="form-group">
                                <input type="text" value="" maxlength="100" class="form-control" placeholder="Ingrese el Telefono" name="txttelefono" id="txttelefono" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="txtcelular" style="color: #3d566e;">Número Celular</label>
                            <div class="form-group">
                                <input type="text" value="" maxlength="55" placeholder="Ingrese el Celular" class="form-control" name="txtcelular" id="txtcelular" />
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>
  <div class="row">
    <div class="col-md-7">
        <div class="box box-widget">
            <div class="box-header with-border">
                <div class="user-block">
                    <img class="img-circle" src="~/Content/images/ubicacion.png" alt="User Image">
                    <span class="username" id="doc-nom-persona" style="color:#f88989">Ubicacion</span>                 

                </div>
                <!-- /.user-block -->
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" id="btnubi" data-widget="collapse">
                        <i class="fa fa-minus" id="i_ubi"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="dwdespacho" style="color: #3d566e;">Tipo de Despacho</label>
                            <div class="form-group">
                                @Html.DropDownList("dwdespacho", new SelectList(ViewBag.despacho, "desp_cod", "desp_des", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwdespacho", @name = "dwdespacho", @data_actions_box = "true", @data_selected_text_format = "count > 2" })
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="row">
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="dwdep" style="color: #3d566e;">Departamento</label>
                            <div class="form-group">
                                @Html.DropDownList("dwdep", new SelectList(ViewBag.Dep, "dep_id", "dep_descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwdep", @name = "dwdep", onchange= "Listar_Prov_Distri();", @data_actions_box = "true", @data_selected_text_format = "count > 2" })                                                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="dwprov" style="color: #3d566e;">Provincia</label>
                            <div class="form-group">
                                <div id="divProv" class="input-group date" data-date-format="dd-mm-yyyy">                                     
                                </div>                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="dwdis" style="color: #3d566e;">Distrito</label>
                            <div class="form-group" id="divDis">
                                @Html.DropDownList("dwdis", new SelectList(ViewBag.Dis, "Dis_Id", "Dis_Descripcion", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwdis", @name = "dwdis", @data_actions_box = "true", @data_selected_text_format = "count > 2" })                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="txtdireccion" style="color: #3d566e;">Direccion</label>
                            <div class="form-group">
                                <input type="text" value="" maxlength="255" placeholder="Ingrese la direccion" class="form-control" name="txtdireccion" id="txtdireccion" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="txtref" style="color: #3d566e;">Referencia</label>
                            <div class="form-group">
                                <input type="text" value="" maxlength="800" placeholder="Ingrese la Referencia" class="form-control" name="txtref" id="txtref" />
                            </div>
                        </div>
                    </div>                
                    <div class="col-md-6" hidden="hidden" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="dwasesor" style="color: #3d566e;">Asesor</label>
                            <div class="form-group">
                                @Html.DropDownList("dwasesor", new SelectList(ViewBag.Asesor, "Ase_Id", "Ase_Nom", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwasesor", @name = "dwasesor", @data_actions_box = "true", @data_selected_text_format = "count > 2" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="dwlider" style="color: #3d566e;">Lider</label>
                            <div class="form-group">
                                @Html.DropDownList("dwlider", new SelectList(ViewBag.Lider, "cod_lider", "nom_lider", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwlider", @name = "dwlider", @data_actions_box = "true", @data_selected_text_format = "count > 2" })                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="box box-widget">
            <div class="box-header with-border">
                <div class="user-block">
                    <img class="img-circle" src="~/Content/images/camion.png" alt="User Image">
                    <span class="username" id="doc-nom-persona" style="color:#f88989">Información especifica de cliente</span>                  

                </div>
                <!-- /.user-block -->
                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" id="btninfo" data-widget="collapse">
                        <i class="fa fa-minus"  id="i_info"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="txtagencia" style="color: #3d566e;">Agencia</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" name="chkagencia" onchange="ckeck_agencia();" id="chkagencia" title="Activar o Desactivar la edicion" aria-label="Checkbox Input Group">
                                </span>
                                <input name="txtagencia" id="txtagencia"  value="" maxlength="100" type="text" class="form-control" placeholder="" aria-label="Checkbox Input Group">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="txtagencia_dir" style="color: #3d566e;">Agencia Direccion</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="checkbox" onchange="ckeck_agencia_dir();" name="chkagencia_dir" id="chkagencia_dir" title="Activar o Desactivar la edicion" aria-label="Checkbox Input Group">
                                </span>
                                <input type="text" value="" maxlength="200" class="form-control" placeholder="" name="txtagencia_dir" id="txtagencia_dir" aria-label="Checkbox Input Group">
                            </div>
                        </div>
                    </div>
                </div>            
                <div class="row">
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="txtdestino" style="color: #3d566e;">Destino</label>
                            <div class="form-group">
                                <input type="text" value="" maxlength="200" placeholder="Ingrese el destino" class="form-control" name="txtdestino" id="txtdestino" />
                            </div>
                        </div>
                    </div>
                </div>             
                <div class="row" hidden="hidden" style="visibility:hidden">
                    <div class="col-md-6" style="padding-left: 25px;">
                        <div id="prm" class="form-group" disabled>
                            <label for="txtagenciaruc"  style="color: #3d566e;">Agencia Ruc</label>
                            <div class="form-group">                             
                                <input id="txtagenciaruc"  name="txtagenciaruc" type="number" min="0" step="1" maxlength="12" focus="true" placeholder="Ingrese la agencia del ruc" class="form-control" />
                            </div>
                        </div>
                    </div>                  
                </div>             
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="box box-body box-footer">
            <div class="box-header with-border">             
                <div class="modal-footer" style="margin-top:-10px">                
                    <div class="col-md-12">
                        <button name="btncancelar" id="btncancelar" title="Cancelar" onclick="cancelar();" type="button" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle">
                            </span>&nbsp;Cancelar
                        </button>
                        <button name="btnguardar" id="btnguardar" title="Guardar" onclick="GeneraCliente();" class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;Guardar</button>
                        
                    </div>
                 </div>                               
            </div>           
        </div>
    </div>  
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agencias Predeterminada</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10">
                        <div id="prm" class="form-group" disabled>
                            <label for="dwagencia" style="color: #3d566e;">Seleccione</label>
                            <div class="form-group" id="divagencia">
                                @Html.DropDownList("dwagencia", new SelectList(ViewBag.lista_agencia, "agencia", "agencia", "-1"), new { @class = "selectpicker", @data_live_search = "true", @id = "dwagencia", @name = "dwagencia", @data_actions_box = "true", @data_selected_text_format = "count > 2" })
                            </div>
                        </div>
                    </div>
                  
                            
                                <div class="modal-footer" style="margin-top:-10px">
                                    <div class="col-md-10">
                                        <button name="btncancelar" id="btncancelar" title="Cancelar" data-dismiss="modal"  type="button" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-remove-circle">
                                            </span>&nbsp;Cancelar
                                        </button>
                                        <button name="btnguardar" id="btnguardar" onclick="aceptar_agencia();"  title="Aceptar"  class="btn btn-success" type="submit"><span class="glyphicon glyphicon-ok-circle"></span>&nbsp;Aceptar</button>                                       
                                    </div>
                                </div>
                     
                  
                </div>  
             
                </div>
           
        </div>
    </div>
</div>



@section scripts{


    <script src="~/Scripts/Linkend/linq.min.js"></script>    
    <script>
        function vista_agencia(boton){
            ListarAgencia();
            if (existe_agencia=='1'){
                var options = { "backdrop": "static", keyboard: true };         
                $('#myModal').modal(options);
                $('#myModal').modal('show');          
            }
            else{
                if (boton==1){
                    toastr.error('No hay agencia disponible para la provincia seleccionada', "Alerta");
                }
            }
            
        }
        function aceptar_agencia(){            
            var agen_dir= $('#dwagencia').val();
            var agen_nom=$("option:selected", $("#dwagencia")).text()
            $('#txtagencia_dir').val(agen_dir);
            $('#txtagencia').val(agen_nom);            
            $('#myModal').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            $('#dwdis').focus();
        }
    </script>

    <script>
        function cancelar(){
            $("#btnguardar").prop("disabled", true);
            $("#btncancelar").prop("disabled", true);


            window.location = '@Url.Action("Index", "Clientes")';
        }
        function ckeck_agencia(){
            if ($('#chkagencia').is(':checked')) {
                $('#txtagencia').prop("disabled", false);
                $('#txtagencia').focus();
            }else{
                $('#txtagencia').prop("disabled", true);
            }
        }
        function ckeck_agencia_dir(){
            if ($('#chkagencia_dir').is(':checked')) {
                $('#txtagencia_dir').prop("disabled", false);
                $('#txtagencia_dir').focus();
            }else{
                $('#txtagencia_dir').prop("disabled", true);
            }
        }

        var bas_id=null;
        var existe_agencia='0';
        $(document).ready(function () {

           



            ListarProv();
            ListarDis();

            @*lista_agencia=function () { return @Html.Raw(Json.Encode(ViewBag.agencia)); }();*@

            var estado = @ViewBag.Estado;
            var dataUsuario = function () { return @Html.Raw(Json.Encode(ViewBag.Usuario)); }();

            $('#txtagencia').prop("disabled", true);
            $('#txtagencia_dir').prop("disabled", true);

            /*si es estado 1 entonces es clientes nuevo si es 2 entonces se modifica*/
            if (estado==1){
                $('#dwdep').val('15');
                $('#dwdep').selectpicker('refresh');
                ListarProv();
                $('#dwprov').val('01');
                $('#dwprov').selectpicker('refresh');
                ListarDis();
                $('#dwdis').val('1248');
                $('#dwdis').selectpicker('refresh');

                $('#dwtipocliente').val('02')
                $('#dwtipocliente').selectpicker('refresh');

                $('#dwdespacho').val('02')
                $('#dwdespacho').selectpicker('refresh');

                if (dataUsuario.usu_tip_id=='01'){
                    $("#div_ruc_comi").hide();
                    $('#dwtipocliente').val('02')
                    $("#dwtipocliente").prop("disabled", true);
                    $('#dwtipocliente').selectpicker('refresh');

                    $('#dwlider').val(dataUsuario.usu_area.toString());
                    $("#dwlider").prop("disabled", true);
                    $('#dwlider').selectpicker('refresh');
                }
                else
                {
                    $("#div_ruc_comi").hide();
                    $("#dwasesor").prop("disabled", true);
                    $('#dwasesor').selectpicker('refresh');
                }



                $('#txtdni').focus();


            } else{

                var dataArray = function () { return @Html.Raw(Json.Encode(ViewBag.DataCliente)); }();


                $('#dwtipocliente').val(dataArray.Bas_Usu_TipId)
                $('#dwtipocliente').selectpicker('refresh');

                $('#dwtipodoc').val(dataArray.Bas_doc_tip_id)
                $('#dwtipodoc').selectpicker('refresh');


                $('#txtdni').val(dataArray.dni);

                $('#txtruc_comi').val(dataArray.bas_ruc_comision);

                $('#txtprinom').val(dataArray.Bas_Primer_Nombre);
                $('#txtsegnom').val(dataArray.Bas_Segundo_Nombre);
                $('#txtpriapepat').val(dataArray.Bas_Primer_Apellido);
                $('#txtpriapemat').val(dataArray.Bas_Segundo_Apellido);

                $('#dwdespacho').val(dataArray.bas_Tip_Des);
                $('#dwdespacho').selectpicker('refresh');
                $('#txtagencia_dir').val(dataArray.bas_Agencia_Direccion);

                $('#txtref').val(dataArray.bas_referencia);

                $('#fechanac').val(dataArray.Bas_Fec_nac);

                if (dataArray.Bas_Sex_Id=='F')
                {
                    $("#optfemenino").prop("checked", true);
                    $("#optmasculino").prop("checked", false);
                }
                else{
                    $("#optmasculino").prop("checked", true);
                    $("#optfemenino").prop("checked", false);
                }

                $('#dwpertipo').val(dataArray.bas_per_tip_id);
                $('#dwpertipo').selectpicker('refresh');

                $('#txtemail').val(dataArray.Bas_Correo);
                $('#txttelefono').val(dataArray.bas_telefono);
                $('#txtcelular').val(dataArray.bas_celular);

                var ubigeo=dataArray.bas_dis_id.toString();
                var dep=ubigeo.substring(0,2);
                var prov=ubigeo.substring(2,4);
                var dis=ubigeo.substring(4,8);

                $('#dwdep').val(dep);
                $('#dwdep').selectpicker('refresh');
                ListarProv();
                $('#dwprov').val(prov);
                $('#dwprov').selectpicker('refresh');
                ListarDis();
                $('#dwdis').val(dis);
                $('#dwdis').selectpicker('refresh');


                $('#txtdireccion').val(dataArray.direccion);



                $('#dwlider').val( (dataArray.Bas_Usu_TipId=='02')? dataArray.Bas_Are_Id:'0');
                $('#dwlider').selectpicker('refresh');

                $('#txtagencia').val(dataArray.Bas_Agencia);
                $('#txtdestino').val(dataArray.bas_destino);
                $('#txtagenciaruc').val(dataArray.bas_agencia_ruc);

                /*deshabilitando controles*/
                $("#dwtipocliente").prop("disabled", true);
                $('#dwtipocliente').selectpicker('refresh');

                $("#dwtipodoc").prop("disabled", true);
                $('#dwtipodoc').selectpicker('refresh');

                $('#txtdni').prop("disabled", true);

                $("#dwasesor").prop("disabled", true);
                $('#dwasesor').selectpicker('refresh');

                if (dataArray.Bas_Usu_TipId!='02' || dataUsuario.usu_tip_id=='01'){
                    $("#dwlider").prop("disabled", true);
                    $('#dwlider').selectpicker('refresh');

                    if (dataArray.Bas_Usu_TipId=='01'){

                        $("#div_ruc_comi").show();
                        $('#dwasesor').val((dataArray.bas_aco_id==''?'0':dataArray.bas_aco_id));
                        $("#dwasesor").prop("disabled", false);
                        $('#dwasesor').selectpicker('refresh');
                    }else{
                        $("#div_ruc_comi").hide();
                    }

                }else{
                    $("#div_ruc_comi").hide();
                }

                bas_id=dataArray.bas_id.toString();

            }

        });

        function Listar_Prov_Distri() {
            ListarProv();
            ListarDis();
        }

        function ListarProv() {
            var dataArray = function () { return @Html.Raw(Json.Encode(ViewBag.DepProvDis)); }();
            // var dataArray = data.Data;
            var strTipo = $('#dwdep').val();


            var listar = [];

            if (strTipo != null) {

                if (strTipo == "-1") {
                    var lista_filter = (strTipo == "-1") ? dataArray.filter(obj => obj.dep_id != strTipo) : dataArray.filter(obj => obj.dep_id === strTipo || obj.dep_id == '0');
                    $.each(lista_filter, function (index, item) {

                        listar.push(item);
                    });
                } else {

                    var lista_filter = dataArray.filter(obj => obj.dep_id == '0');
                    $.each(lista_filter, function (index, item) {

                        listar.push(item);
                    });

                     var lista_filter = dataArray.filter(obj => obj.dep_id === strTipo);
                        $.each(lista_filter, function (index, item) {

                            listar.push(item);
                        });
                }
            }


            var group_prov = Enumerable.from(listar)
            .groupBy(
            null,
            null,
            "{ prv_cod: $.prv_cod, Prv_Descripcion: $.Prv_Descripcion}",
            "'' + $.prv_cod + '-' + $.Prv_Descripcion"
            ).orderBy("$.Prv_Descripcion").toArray();


            llenarComboProv("divProv", "dwprov", group_prov, '0', '', "ListarDis", '1');
        }
        function llenarComboProv(DivId, IdControl, Data, codDefecto, desDefecto, onchangeFuncion, tipo) {

            $('#' + IdControl).find('option').remove();



            var str = (tipo == '1') ? '<select class="selectpicker" data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '" data-actions-box="true"  data-selected-text-format="count > 2" >' : '<select class="selectpicker"  data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '"  data-actions-box="true"  data-selected-text-format="count > 2" > ';
            var ItemNormal = '<option value="codItem">desItem</option>';
            var colectItemNormal = '';

            //if (codDefecto != '') { str += '<option value="' + codDefecto + '" selected="selected">------' + desDefecto + '------</option>'; }

            if (onchangeFuncion != '') { onchangeFuncion = 'onchange = "' + onchangeFuncion + '();vista_agencia();"' }
            str = str.replace("onchangeFuncion", onchangeFuncion);

            $.each(Data, function (index, item) {

                colectItemNormal = colectItemNormal + ItemNormal
                var strSelected = '"';

                if (item.cod_entid == codDefecto) {
                    strSelected = '" selected="selected" '

                }
                strSelected = '" selected="selected" '; // seleccionar todos al cargar
                colectItemNormal = colectItemNormal.replace("codItem", item.prv_cod + strSelected);
                colectItemNormal = colectItemNormal.replace("desItem", item.Prv_Descripcion);

            });

            str += colectItemNormal
            str += '</select>'
            str +='<button name="btnagencia" id="btnagencia" title="hacer click para mostrar las Agencias predeterminadas" onclick="vista_agencia(1);" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok-circle"></span></button>';

            document.getElementById(DivId).innerHTML = str

            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true
            });

        }

        function ListarDis()
        {
            var dataArray = function () { return @Html.Raw(Json.Encode(ViewBag.DepProvDis)); }();
            // var dataArray = data.Data;
            var strdep = $('#dwdep').val();
            var strprov = $('#dwprov').val();


            var listar = [];

            if (strdep != null && strprov != null) {

                if (strdep == "-1" || strprov == "-1") {
                    var lista_filter = (strTipo == "-1") ? dataArray.filter(obj => obj.prv_cod != strdep) : dataArray.filter(obj => obj.prv_cod === strdep || obj.prv_cod == '0');
                    $.each(lista_filter, function (index, item) {

                        listar.push(item);
                    });
                } else {

                    var lista_filter = dataArray.filter(obj => obj.prv_cod == '0');
                    $.each(lista_filter, function (index, item) {

                        listar.push(item);
                    });

                    //$.each(strCad, function (index3, item3) {

                        //$.each(strdep, function (index2, item2) {

                            var lista_filter = dataArray.filter(obj => obj.prv_cod === strprov && obj.dep_id === strdep);
                            $.each(lista_filter, function (index, item) {

                                listar.push(item);
                            });

                        //});
                    //});
                }
            }


            var group_distrito = Enumerable.from(listar)
            .groupBy(
            null,
            null,
            "{ Dis_Id: $.Dis_Id, Dis_Descripcion: $.Dis_Descripcion}",
            "'' + $.Dis_Id + '-' + $.Dis_Descripcion"
            ).orderBy("$.Dis_Descripcion").toArray();


            llenarComboDis("divDis", "dwdis", group_distrito, '0', '', "", '1');
        }
        function llenarComboDis(DivId, IdControl, Data, codDefecto, desDefecto, onchangeFuncion, tipo) {

            $('#' + IdControl).find('option').remove();



            var str = (tipo == '1') ? '<select class="selectpicker"   data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '" data-actions-box="true"  data-selected-text-format="count > 2" >' : '<select class="selectpicker"  data-live-search="true" onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '"  data-actions-box="true"  data-selected-text-format="count > 2" > ';
            var ItemNormal = '<option value="codItem">desItem</option>';
            var colectItemNormal = '';

            //if (codDefecto != '') { str += '<option value="' + codDefecto + '" selected="selected">------' + desDefecto + '------</option>'; }

            if (onchangeFuncion != '') { onchangeFuncion = 'onchange = "' + onchangeFuncion + '()"' }
            str = str.replace("onchangeFuncion", onchangeFuncion);

            $.each(Data, function (index, item) {

                colectItemNormal = colectItemNormal + ItemNormal
                var strSelected = '"';

                if (item.cod_entid == codDefecto) {
                    strSelected = '" selected="selected" '

                }
                strSelected = '" selected="selected" '; // seleccionar todos al cargar
                colectItemNormal = colectItemNormal.replace("codItem", item.Dis_Id + strSelected);
                colectItemNormal = colectItemNormal.replace("desItem", item.Dis_Descripcion);

            });

            str += colectItemNormal
            str += '</select>'

            document.getElementById(DivId).innerHTML = str

            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true
            });

        }


        function ListarAgencia()
        {
            var dataArray = function () { return @Html.Raw(Json.Encode(ViewBag.agencia)); }();
            // var dataArray = data.Data;
            var strdep = $('#dwdep').val();
            var strprov = $('#dwprov').val();


            var listar = [];

            if (strdep != null && strprov != null) {

                if (strdep == "-1" || strprov == "-1") {
                    var lista_filter = (strTipo == "-1") ? dataArray.filter(obj => obj.prv_cod != strdep) : dataArray.filter(obj => obj.prv_cod === strdep || obj.prv_cod == '0');
                    $.each(lista_filter, function (index, item) {

                        listar.push(item);
                    });
                } else {

                    var lista_filter = dataArray.filter(obj => obj.prv_cod == '0');
                    $.each(lista_filter, function (index, item) {

                        listar.push(item);
                    });

                    //$.each(strCad, function (index3, item3) {

                    //$.each(strdep, function (index2, item2) {

                    var lista_filter = dataArray.filter(obj => obj.prv_cod === strprov && obj.dep_id === strdep);
                    $.each(lista_filter, function (index, item) {

                        listar.push(item);
                    });

                    //});
                    //});
                }
            }


            var group_agencia = Enumerable.from(listar)
            .groupBy(
            null,
            null,
            "{ agencia: $.agencia, direccion_agencia: $.direccion_agencia}",
            "'' + $.agencia + '-' + $.agencia"
            ).orderBy("$.agencia").toArray();

            
            existe_agencia=(group_agencia.length==0)?'0':'1';

            llenarComboAgencia("divagencia", "dwagencia", group_agencia, '0', '', "", '1');
        }
        function llenarComboAgencia(DivId, IdControl, Data, codDefecto, desDefecto, onchangeFuncion, tipo) {

            $('#' + IdControl).find('option').remove();



            var str = (tipo == '1') ? '<select class="selectpicker"   onchangeFuncion data-width="340px" id="' + IdControl + '" name="' + IdControl + '" data-actions-box="true"  data-selected-text-format="count > 2" >' : '<select class="selectpicker"   onchangeFuncion data-width="100%" id="' + IdControl + '" name="' + IdControl + '"  data-actions-box="true"  data-selected-text-format="count > 2" > ';
            var ItemNormal = '<option value="codItem">desItem</option>';
            var colectItemNormal = '';

            //if (codDefecto != '') { str += '<option value="' + codDefecto + '" selected="selected">------' + desDefecto + '------</option>'; }

            if (onchangeFuncion != '') { onchangeFuncion = 'onchange = "' + onchangeFuncion + '()"' }
            str = str.replace("onchangeFuncion", onchangeFuncion);

            $.each(Data, function (index, item) {

                colectItemNormal = colectItemNormal + ItemNormal
                var strSelected = '"';

                if (item.cod_entid == codDefecto) {
                    strSelected = '" selected="selected" '

                }
                strSelected = '" selected="selected" '; // seleccionar todos al cargar
                colectItemNormal = colectItemNormal.replace("codItem", item.direccion_agencia + strSelected);
                colectItemNormal = colectItemNormal.replace("desItem", item.agencia);

            });

            str += colectItemNormal
            str += '</select>'

            document.getElementById(DivId).innerHTML = str

            $('.selectpicker').selectpicker({
                //liveSearch: true,
                showSubtext: true
            });

        }

    </script>
    <script>

        $(function () {
            $("#datepickerfecnac").datepicker({
                autoclose: true,
                todayHighlight: true
            }).datepicker();
        });

        $(document).ready(function () {


        });

        function selecciona_tipo_cliente() {
            var strTipoCliente = $('#dwtipocliente').val().toString();

            if (strTipoCliente == '01' || strTipoCliente == '09') {
                $('#dwlider').val('0');
                $("#dwlider").prop("disabled", true);
                $('#dwlider').selectpicker('refresh');

                if (strTipoCliente=='09'){
                    $('#dwasesor').val('0');
                    $("#dwasesor").prop("disabled", true);
                    $('#dwasesor').selectpicker('refresh');
                }
                else
                {
                    $("#div_ruc_comi").show();
                    $('#dwasesor').val('0');
                    $("#dwasesor").prop("disabled", false);
                    $('#dwasesor').selectpicker('refresh');
                }

            }
            else
            {

                $("#div_ruc_comi").hide();
                
                $('#dwlider').val('0');
                $("#dwlider").prop("disabled", false);
                $('#dwlider').selectpicker('refresh');


                $('#dwasesor').val('0');
                $("#dwasesor").prop("disabled", true);
                $('#dwasesor').selectpicker('refresh');

            }



        }

        function GeneraCliente() {     
            
          

          

            if (valida_grabar() == 1) return;
            var strDni = $('#txtdni').val().toString();
            var str_email = $('#txtemail').val().toString();

            var estado = @ViewBag.Estado;

            if (estado==2) {
                grabar_cliente(estado);
                return;
            }

            waitingDialog.show("Espere por favor...")
            $.ajax({
                type: "POST",
                url: '@Url.Action("valida_cliente", "Clientes")',
                data: { dni: strDni, correo: str_email },
                success: function (data) {
                    waitingDialog.hide();
                    if (data.estado == 0) {
                        grabar_cliente(estado);
                    }
                    else {
                        if (data.estado == '1') {
                            var cl_basico = document.getElementById("i_basico").className;
                            if (cl_basico == 'fa fa-plus') $('#btnbasico').click();
                            $('#txtdni').focus();
                        }
                        if (data.estado == '2') {
                            var cl_tipper = document.getElementById("i_tipper").className;
                            if (cl_tipper == 'fa fa-plus') $('#btntipper').click();
                            $('#txtemail').focus();
                        }
                        toastr.error(data.mensaje, "Alerta");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    toastr.error("Error al consultar.", "Alerta");
                }
            });
        }

        function MaysPrimera(string){
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        function grabar_cliente(estado) {
            
            var strDni = $('#txtdni').val().toString();
            var str_email = $('#txtemail').val().toString();
            var mensaje = "";
            var sexo=(document.getElementById('optfemenino').checked)?'F':'M';

            var dataArray = function () { return @Html.Raw(Json.Encode(ViewBag.cliente)); }();
            dataArray._Bas_Usu_TipId= $('#dwtipocliente').val().toString();
            dataArray._Bas_Doc_Tip_Id= $('#dwtipodoc').val().toString();
            dataArray._Bas_Documento= $('#txtdni').val().toString();
            dataArray._Bas_Primer_Nombre= $('#txtprinom').val().toString();
            dataArray._Bas_Segundo_Nombre= $('#txtsegnom').val().toString();
            dataArray._Bas_Primer_Apellido= $('#txtpriapepat').val().toString();
            dataArray._Bas_Segundo_Apellido= $('#txtpriapemat').val().toString();
            dataArray._Bas_Fec_nac= $('#fechanac').val().toString();
            dataArray._Bas_Sex_Id=sexo;
            dataArray._Bas_Per_Tip_Id= $('#dwpertipo').val().toString();
            dataArray._Bas_Correo= $('#txtemail').val().toString();
            dataArray._Bas_Telefono= $('#txttelefono').val().toString();
            dataArray._Bas_Celular= $('#txtcelular').val().toString();
            dataArray._Bas_Dis_Id= $('#dwdis').val().toString();
            dataArray._Bas_Direccion= $('#txtdireccion').val().toString();
            dataArray._Bas_Are_Id= $('#dwlider').val().toString();
            dataArray._bas_agencia= $('#txtagencia').val().toString();
            dataArray._bas_destino= $('#txtdestino').val().toString();
            dataArray._bas_agencia_ruc= $('#txtagenciaruc').val().toString();

            dataArray._bas_Tip_Des= $('#dwdespacho').val().toString();
            dataArray._bas_Agencia_Direccion= $('#txtagencia_dir').val().toString();
            
            dataArray._bas_ruc_comision=$('#txtruc_comi').val().toString();

            //var ref= $('#txtref');

            //alert($('#txtref').val().toString());

            dataArray._bas_Referencia= $('#txtref').val();


            var des_cliente=MaysPrimera($(dwtipocliente).find("option:selected").text().toLowerCase());
          
            dataArray._bas_aco_id= $('#dwasesor').val().toString();
            


            if (bas_id!=null) dataArray._bas_id= bas_id.toString();

            switch(estado)
            {
                case 1:
                    mensaje = "¿Está seguro generar un nuevo " + des_cliente + "?"
                    break;
                case 2:
                    mensaje = "¿Está seguro guardar los datos modificados?"
                    break;
            }

            swal({
                title: "Guardar datos del " + des_cliente,
                text: mensaje,// "¿Está seguro de guardar el cruce?",
                icon: "warning",
                buttons: ["No", "Si"],
                dangerMode: true,
            }).then((cambiar) => {
                if (cambiar) {
                    waitingDialog.show("Espere un momento por favor.")
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GuardarCliente", "Clientes")',
                        data: {dataArray:dataArray,estado:estado},
                        success: function (data) {
                            if (data.estado == 0) {
                               // toastr.success(data.mensaje);

                                if (estado==1){
                                    swal({
                                        title: "Ok",
                                        text: "Se Grabo con exito los datos.\nPara ingresar al sistema debe de ingresar.\n\nUsuario: " + str_email.toString()+
                                            "\nPassword: " + strDni.toString(),
                                        icon: "success"
                                    }
                                    ).then((value) => {
                                        cancelar();
                                        //waitingDialog.hide();
                                    });
                                }
                                else{
                                    swal({
                                        title: "Ok",
                                        text: "Se Modificaron con exito los datos.",                                        
                                        icon: "success"                                        
                                    }
                                    ).then((value) => {
                                        cancelar();
                                        //waitingDialog.hide();
                                    });
                                }                               
                              

                            } else {
                                toastr.error(data.mensaje);
                                waitingDialog.hide();
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            waitingDialog.hide();
                            toastr.error("Error al consultar.", "Alerta");
                        }
                    });
                }
            });
        }

        function valida_grabar() {

            var cl_basico = document.getElementById("i_basico").className;

            var cl_tipper = document.getElementById("i_tipper").className;

            var cl_ubi = document.getElementById("i_ubi").className;

            var cl_info = document.getElementById("i_info").className;


            var strTipoCliente = $('#dwtipocliente').val().toString();
            var strDni = $('#txtdni').val().toString();
            var strTipoDoc = $('#dwtipodoc').val().toString();

            var str_primnombre = $('#txtprinom').val().toString();

            var str_pertipo = $('#dwpertipo').val().toString();

            var str_email = $('#txtemail').val().toString();

            var str_telefono = $('#txttelefono').val().toString();

            var str_direccion = $('#txtdireccion').val().toString();

            var str_lider = $('#dwlider').val().toString();

            var str_agencia = $('#txtagencia').val().toString();
            var str_destino = $('#txtdestino').val().toString();


            var valida_ref=0;
            var str_dep=$('#dwdep').val().toString();
            var str_provincia= $('#dwprov').val().toString();
            var str_distrito=$('#dwdis').val().toString();

            if ((str_dep=='15' && str_provincia=='01') ||  (str_dep=='07' && str_provincia=='01') || (str_dep=='15' && str_provincia=='07' || str_distrito=='09') ) valida_ref=1;


            var str_referencia= $('#txtref').val().toString();


            if (strTipoCliente == '0') {
                toastr.error("Ingrese el tipo de Cliente.", "Aviso");
                $('#dwtipocliente').focus();
                return 1;
            }
            if (strDni.length == 0) {
                if (cl_basico == 'fa fa-plus') $('#btnbasico').click();
                toastr.error("Ingrese el numero de Dni o Roc.", "Aviso");
                $('#txtdni').focus();
                return 1;
            }
            if (strDni.length != 8 && strDni.length != 11) {
                if (cl_basico == 'fa fa-plus') $('#btnbasico').click();
                toastr.error("Ingrese el numero de Dni o Ruc Valido", "Aviso");
                $('#txtdni').focus();
                return 1;
            }

            if (strDni.length == 11) {
                if (!valruc(strDni.toString())) {
                    if (cl_basico == 'fa fa-plus') $('#btnbasico').click();
                    toastr.error("El Numero de Ruc ingresado no es valido", "Aviso");
                    $('#txtdni').focus();
                    return 1;
                }
            }
            if ((strTipoDoc == '1' && strDni.length == 11) || (strTipoDoc == '2' && strDni.length == 8) || (strTipoDoc == '3' && strDni.length == 11)) {
                if (cl_basico == 'fa fa-plus') $('#btnbasico').click();
                toastr.error("El tipo de Documento no corresponde al documento ingresado", "Aviso");
                $('#dwtipodoc').focus();
                return 1;
            }
            if (str_primnombre.trim().trimLeft().trimRight().length == 0) {
                if (cl_basico == 'fa fa-plus') $('#btnbasico').click();
                toastr.error("Ingrese el Pimer nombre", "Aviso");
                $('#txtprinom').focus();
                return 1;
            }
            if (str_pertipo == '2') {
                if (strDni.length == 11) {

                    if (strDni.substring(0, 1).toString() != '2') {
                        if (cl_tipper == 'fa fa-plus') $('#btntipper').click();
                        toastr.error("El Tipo de persona no corresponde a ruc ingresado.", "Aviso");
                        $('#dwpertipo').focus();
                        return 1;
                    }
                }
                else
                {
                    if (cl_tipper == 'fa fa-plus') $('#btntipper').click();
                    toastr.error("El Tipo de persona no es valido para el documento ingresado.", "Aviso");
                    $('#dwpertipo').focus();
                    return 1;
                }
            }
            else
            {
                if (strDni.length == 11) {

                    if (strDni.substring(0, 1).toString() == '2') {
                        if (cl_tipper == 'fa fa-plus') $('#btntipper').click();
                        toastr.error("El Tipo de persona no corresponde a ruc ingresado.", "Aviso");
                        $('#dwpertipo').focus();
                        return 1;
                    }
                }
            }

            if (!validar_email(str_email)) {
                if (cl_tipper == 'fa fa-plus') $('#btntipper').click();
                toastr.error("El correo ingresado no es valido.", "Aviso");
                $('#txtemail').focus();
                return 1;
            }

            if (str_telefono.trim().trimLeft().trimRight().length == 0) {
                if (cl_tipper == 'fa fa-plus') $('#btntipper').click();
                toastr.error("Ingrese el numero de telefono.", "Aviso");
                $('#txttelefono').focus();
                return 1;
            }

            if (str_direccion.trim().trimLeft().trimRight().length == 0) {
                if (cl_ubi == 'fa fa-plus') $('#btnubi').click();
                toastr.error("Ingrese la direccion.", "Aviso");
                $('#txtdireccion').focus();
                return 1;
            }

            if (valida_ref==1){
                if (str_referencia.trim().trimLeft().trimRight().length <= 30) {
                    if (cl_ubi == 'fa fa-plus') $('#btnubi').click();
                    toastr.error("Ingrese la referencia, Minimo 30 caracteres.", "Aviso");
                    $('#txtref').focus();
                    return 1;
                }
            }

          
            

            if (str_lider=='0' && strTipoCliente=='02'){
                if (cl_ubi == 'fa fa-plus') $('#btnubi').click();
                toastr.error("Selecione un lider para el promotor", "Aviso");
                $('#dwlider').focus();
                return 1;
            }

            if (strTipoCliente=='01' || strTipoCliente=='02'){

                if (str_agencia.trim().trimLeft().trimRight().length == 0){
                    if (cl_info == 'fa fa-plus') $('#btninfo').click();                    
                    toastr.error("Ingrese la agencia", "Aviso");
                    $('#txtagencia').focus();
                    return 1;
                }
                if (str_destino.trim().trimLeft().trimRight().length == 0){
                    if (cl_info == 'fa fa-plus') $('#btninfo').click();                    
                    toastr.error("Ingrese el destino", "Aviso");
                    $('#txtdestino').focus();
                    return 1;
                }

                //var str_agencia = $('#txtagencia').val().toString();
                //var str_destino = $('#txtdestino').val().toString();


            }

            return 0;
        }

        function validar_email(email) {
            //var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            var regex = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email) ? true : false;
        }

        function trim(cadena) {
            cadena2 = "";
            len = cadena.length;
            for (var i = 0; i <= len ; i++) if (cadena.charAt(i) != " ") { cadena2 += cadena.charAt(i); }
            return cadena2;
        }
        function esnulo(campo) { return (campo == null || campo == ""); }
        function esnumero(campo) { return (!(isNaN(campo))); }
        function eslongrucok(ruc) { return (ruc.length == 11); }
        function eslongdniok(dni) { return (dni.length == 8); }
        function esrucok(ruc) {
            return (!(esnulo(ruc) || !esnumero(ruc) || !eslongrucok(ruc) || !valruc(ruc)));
        }
        function esdniok(dni) {
            return (!(esnulo(dni) || !esnumero(dni) || !eslongdniok(dni)));
        }
        function valruc(valor) {
            valor = trim(valor);
            if (esnumero(valor)) {
                if (valor.length == 8) {
                    suma = 0;
                    for (i = 0; i < valor.length - 1; i++) {
                        digito = valor.charAt(i) - '0';
                        if (i == 0) suma += (digito * 2)
                        else suma += (digito * (valor.length - i))
                    }
                    resto = suma % 11;
                    if (resto == 1) resto = 11;
                    if (resto + (valor.charAt(valor.length - 1) - '0') == 11) {
                        return true;
                    }
                } else if (valor.length == 11) {
                    suma = 0;
                    x = 6;
                    for (i = 0; i < valor.length - 1; i++) {
                        if (i == 4) x = 8
                        digito = valor.charAt(i) - '0';
                        x--;
                        if (i == 0) suma += (digito * x)
                        else suma += (digito * x)
                    }
                    resto = suma % 11;
                    resto = 11 - resto;

                    if (resto >= 10) resto = resto - 10;
                    if (resto == valor.charAt(valor.length - 1) - '0') {
                        return true;
                    }
                }
            }
            return false;
        }


    </script>
}