@model CapaPresentacion.Models.Control.LoginViewModel
@using CapaEntidad.Util
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recuperar Contraseña - {@Ent_Global.titulo_header}</title>
    @*<link rel="icon" type="image/x-icon" href="@Url.Content("~/Images/lock-favicon.png")" />*@
    @Styles.Render("~/Content/vendors/bootstrap/dist/css/bootstrap.min.css")
    @Styles.Render("~/Content/vendors/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/vendors/pnotify/dist/pnotify.css")
    @Styles.Render("~/Content/vendors/pnotify/dist/pnotify.buttons.css")
    @Styles.Render("~/Content/vendors/pnotify/dist/pnotify.nonblock.css")
    @Styles.Render("~/Content/custom.css")
    <link href="~/Content/toastr.css" rel="stylesheet" />

    <link href="~/Content/sweetalert.css" rel="stylesheet" />

    @*@Styles.Render("~/Content/css")*@
</head>
<body style="background:#F7F7F7;">
    <div id="pageWrapper" class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper" class="mod_wrapper">
            <div id="login" class="form">
                <div style="text-align:center;">                  
                    <img src="@Url.Content("~/Content/LogoAq/logonew.png")" style="width: 290px;height: 52px;" alt="Aquarella" width="150" height="150">                    
                </div>
                <section class="login_content">                    
                        <h1>Recuperacion de Contraseña.</h1>
                        
                        <div class="row" style="text-align:center;">
                            <p class="text-danger">Ingrese el nombre de usuario.  El Sistema le enviara un correo electronico para la generación de una nueva contraseña</p>
                        </div>
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group has-feedback">
                            <input name="Usuario" id="Usuario" type="text" class="form-control" placeholder="Ingrese Usuario" autofocus  data-parsley-maxlength="255" required="required" />
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>                      
                        <div class="row">
                         
                            <!-- /.col -->
                            <div class="col-xs-12">
                                <button type="submit" onclick="Recupera_Pass();" class="btn btn-primary btn-block btn-flat">Ingresar</button>
                            </div>
                            <!-- /.col -->
                        </div>
                 
                        <div class="clearfix"></div>
                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />
                            <div>                           
                                <p>Área de Sistemas - Catálogo Bata - &copy; @DateTime.Now.Year</p>
                            </div>
                        </div>                    
                </section>
            </div>
        </div>
    </div>
</body>

</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/lib")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@*@section scripts
{*@
<script>
    function Recupera_Pass() {
        var _user = $('#Usuario').val().trimLeft().trimRight().trim();
        if (_user.length == 0) {
            toastr.error("Ingrese el nombre de usuario", "Error");
            $('#Usuario').focus();
            return;
        } else {
            waitingDialog.show("Espere por favor...")
            $.ajax({
                type: "POST",
                url: '@Url.Action("EnviaRecoveryPass", "Usuarios")',
                data: { usuario: _user },
                success: function (data) {
                    waitingDialog.hide();
                    if (data.estado == 0) {
                        //toastr.success(data.desmsg, "Mensaje");
                        $('#Usuario').val('');
                        //$('#txtClave2').val('');
                        waitingDialog.hide();

                        swal({
                            title: "Ok",
                            text: data.desmsg,
                            icon: "success"
                        }
                               ).then((value) => {
                                   //document.getElementById('logoutForm').submit()
                               });

                    }
                    else {
                        waitingDialog.hide();
                        toastr.error(data.desmsg, "Alerta");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    waitingDialog.hide();
                    toastr.error("Error al consultar.", "Alerta");
                }
            });
        }



    }
</script>         
@*}*@

