@model CapaPresentacion.Models.Control.LoginViewModel
@using CapaEntidad.Util
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recuperacion Contraseña - {@Ent_Global.titulo_header}</title>
    @*<link rel="icon" type="image/x-icon" href="@Url.Content("~/Images/lock-favicon.png")" />*@
    @Styles.Render("~/Content/vendors/bootstrap/dist/css/bootstrap.min.css")
    @Styles.Render("~/Content/vendors/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/vendors/pnotify/dist/pnotify.css")
    @Styles.Render("~/Content/vendors/pnotify/dist/pnotify.buttons.css")
    @Styles.Render("~/Content/vendors/pnotify/dist/pnotify.nonblock.css")
    @Styles.Render("~/Content/custom.css")
    <link href="~/Content/toastr.css" rel="stylesheet" />

    <link href="~/Content/sweetalert.css" rel="stylesheet" />

    @*@Styles.Render("~/Content/css")*@
</head>
<body style="background:#F7F7F7;">
    <div id="pageWrapper" class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper" class="mod_wrapper">
            <div id="login" class="form">
                <div style="text-align:center;">
                    <img src="@Url.Content("~/Content/LogoAq/logonew.png")" style="width: 290px;height: 52px;" alt="Aquarella" width="150" height="150">
                </div>
                <section class="login_content">
                    <h1>Recuperacion de Contraseña.</h1>

                    <div class="row" style="text-align:center;">
                        <p class="text-danger">Realice el cambio de la clave de acceso a su cuenta, recuerde que la clave debe de poseer mas de 8 caracteres alfanumericos.</p>
                    </div>
                    <div class="form-group has-feedback">
                        <input name="Usuario" id="Usuario" disabled="disabled" type="text" class="form-control" placeholder="Ingrese Usuario" autofocus data-parsley-maxlength="255" required="required" />
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input id="txtClave1" type="password"  class="form-control" autofocus name="Constraseña" placeholder="Nueva Constraseña" required="required">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input id="txtClave2" type="password" class="form-control" name="Password" placeholder="Repetir Nueva Constraseña" required="required">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">

                        <!-- /.col -->
                        <div class="col-xs-12">
                            <button type="submit" onclick="CambiarClave();" class="btn btn-primary btn-block btn-flat">Ingresar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    <div class="clearfix"></div>
                    <div class="separator">
                        <div class="clearfix"></div>
                        <br />
                        <div>
                            <p>Área de Sistemas - Catálogo Bata - &copy; @DateTime.Now.Year</p>
                        </div>
                    </div>           
                </section>
            </div>
        </div>
     </div>
</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/lib")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $(document).ready(function () {
        var codigo=@ViewBag.str_codigo;
        $('#Usuario').val(codigo);
    });

    $("#txtClave2").keyup(function (event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            CambiarClave();
        }
    });
    function validar_clave(contrasenna) {
        if (contrasenna.length >= 8) {
            var mayuscula = false;
            var minuscula = false;
            var numero = false;
            // var caracter_raro = false;

            for (var i = 0; i < contrasenna.length; i++) {
                if (contrasenna.charCodeAt(i) >= 65 && contrasenna.charCodeAt(i) <= 90) {
                    mayuscula = true;
                }
                else if (contrasenna.charCodeAt(i) >= 97 && contrasenna.charCodeAt(i) <= 122) {
                    minuscula = true;
                }
                else if (contrasenna.charCodeAt(i) >= 48 && contrasenna.charCodeAt(i) <= 57) {
                    numero = true;
                }
                else {
                    caracter_raro = true;
                }
            }
            if (mayuscula == true && minuscula == true /*&& caracter_raro == true*/ && numero == true) {
                return true;
            }
        }
        return false;
    }
    function CambiarClave() {
        var _password1 = $('#txtClave1').val();
        var _password2 = $('#txtClave2').val();
        var _codigo= $('#Usuario').val();
      
        _password1 = _password1.replace(/^\s+|\s+$/g, "")
        _password2 = _password2.replace(/^\s+|\s+$/g, "")
     

        if ((_password1 != _password2) || _password1 == '') {
            if (_password1 == '')
                toastr.error("Debe ingresar una contraseña", "Error");
            else
                toastr.error("Las contraseñas ingresadas no coinciden", "Error");
        } else {


            if (!validar_clave(_password2)) {

                var str_msg_con = ''
                str_msg_con = 'Los Criterios para ingresar el password son los siguientes:\n\n' +
                    '1. Tiene ocho caracteres como mínimo.\n' +
                    '2. Letras mayúsculas.\n' +
                    '3. Letras minúsculas.\n' +
                    '4. Números.',
                // '5. Símbolos del teclado (todos los caracteres del teclado que no se definen como letras o números) y espacios',


                swal({
                    title: "Error",
                    text: str_msg_con,
                    icon: "error",
                    dangerMode: true,
                });
                return;
            }

            waitingDialog.show("Espere por favor...")
            $.ajax({
                type: "POST",
                url: '@Url.Action("RecoveryPass", "Usuarios")',
                data: { codigo:_codigo,pass: _password2},
                success: function (data) {
                    waitingDialog.hide();
                    if (data.estado == 0) {
                        toastr.success(data.desmsg, "Mensaje");
                        $('#txtClave1').val('');
                        $('#txtClave2').val('');
                        waitingDialog.hide();

                        swal({
                            title: "Ok",
                            text: "Se genero la nueva contraseña del usuario.\n\nEl sistema cerrara session automaticamente.\nPara que ingrese con su nueva contraseña",
                            icon: "success"
                        }
                               ).then((value) => {
                                   //document.getElementById('logoutForm').submit()    
                                   window.location.href = '@Url.Action("Login", "Control")';
                               });

                    }
                    else {
                        waitingDialog.hide();
                        toastr.error(data.desmsg, "Alerta");
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    waitingDialog.hide();
                    toastr.error("Error al consultar.", "Alerta");
                }
            });

        }
    }

</script>

