

<script type="text/javascript">
    function InvalidMsg(textbox, str) {

        if (textbox.value.length == 0) {
            textbox.setCustomValidity(str);
        }
        else {
            textbox.setCustomValidity('');
        }
        return true;
    }
</script>

@{
    Layout = null;
}
@Scripts.Render("~/bundles/bootstrap-select")
@Styles.Render("~/Content/Bootstrap-Select/css")
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-select.css" />
@using (Ajax.BeginForm("Edit", new AjaxOptions { OnBegin = "OnEditar_Grabar();" }))
{
    <div class="modal-content">
        <div class="modal-header modal-header-primary">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar Password y Estado</h4>
        </div>
        <div class="modal-body">
            <input type="hidden" id="idusu" value="@Model.usu_id" />
            <table class="table table-striped">
                <tr>
                    <td><label for="dwtipo">Tipo de Usuario</label></td>
                    <td>
                        @Html.DropDownList("dwtipo", new SelectList(ViewBag.usuariotipo, "usu_tip_id", "usu_tip_nombre", Model.usu_tip_id), new { @class = "form-control", @data_live_search = "false", @id = "dwtipo" })
                    </td>
                </tr>                
                <tr>
                    <td><label for="dwestado">Estado</label></td>
                    <td>
                        @Html.DropDownList("dwestado", new SelectList(ViewBag.ListarEstados, "Codigo", "Descripcion", Model.usu_est_id), new { @class = "selectCountry form-control", @data_live_search = "false", @id = "dwestado" })
                    </td>
                </tr>
                <tr>
                    <td><label for="nombre">Nombres</label></td>
                    <td>
                        <input type="text" id="nombre" name="nombre" value="@Model.usu_nombre" disabled="disabled" placeholder="Ingese el nombres" class="form-control"  required="required" />
                    </td>
                </tr>
                <tr>
                    <td><label for="login">Login</label></td>
                    <td>

                        <div class="form-inline" role="form">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" value="@Model.usu_login" name="login" id="login" readonly="readonly" placeholder="Ingrese el Login" oninvalid="InvalidMsg(this, 'Ingrese el login')" required="required">
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td>
                        <div class="form-inline" role="form">
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" id="password" readonly="readonly" name="password" placeholder="Ingrese el Password" oninvalid="InvalidMsg(this, 'Ingrese el password')" required="required">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>

                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="form-inline" role="form">
                            <div class="checkbox icheck col-md-5">
                                <label style="font-weight:bold;color:#bd2c2c">
                                    <input type="checkbox" id="editlogin" name="editlogin" value="false"> Cambiar Login
                                </label>
                            </div>
                            <div class="checkbox icheck col-md-5">
                                <label style="font-weight:bold;color:#bd2c2c">
                                    <input type="checkbox" id="editpass" name="editpass" value="false"> Cambiar Password
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer" style="margin-top:-30px">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" id="btnSubmit" value="Aceptar" />
        </div>
    </div>
}
<script>
    $('#editpass').change(function () {
        if (this.checked == true) {
            $("#password").removeAttr('readonly');
            $("#password").focus();
        }
        else {
            $("#password").attr('readonly', 'readonly');
            
        }
    });

    $('#editlogin').change(function () {
        if (this.checked == true) {
            $("#login").removeAttr('readonly');
            $("#login").focus();
        }
        else {
            $("#login").attr('readonly', 'readonly');

        }
    });
</script>
<script type="text/javascript">
    function OnEditar_Grabar() {
        var msg_titulo = 'Mensaje Catalogo!';
        var _id = $("#idusu").val();
        //var _nombre = $("#nombre").val();
        //var _tipo = $('select[name=dwtipo]').selectpicker('val');
        var _estado = $('select[name=dwestado]').selectpicker('val');
        var _password = $("#password").val();
        var _login = $("#login").val();
        //var _pais = $('select[name=dwpais]').selectpicker('val');

        var _pasedit = '0';
        var _logedit = '0';

        if ($('#editpass').prop('checked')) {
            _pasedit = '1'
        }
        if ($('#editlogin').prop('checked')) {
            _logedit = '1'
        }

        //var orden = $("#orden").val();
        waitingDialog.show('Espere un momento por favor');
        $.ajax
             ({
                 url: '../Usuarios/UpdatePassword',
                 dataType: "json",
                 type: "POST",
                 data: { id: _id, password: _password,/* tipo: _tipo,*/  pasedit: _pasedit, login: _login, logedit: _logedit, estado: _estado },
                 success: function (data, textStatus, XMLHttpRequest) {
                     if (data.estado == '1') {

                         $('#myModal').modal('hide');
                         $('body').removeClass('modal-open');
                         $('.modal-backdrop').remove();
                         refrescar_grid();
                         //waitingDialog.show("Espere por favor...")
                         //$('#lista').load($('#tbusuario').DataTable().ajax.reload(function () {
                         //    waitingDialog.hide();
                         //}));
                         //$('#tbusuario').DataTable().ajax.reload(function () {
                         //    waitingDialog.hide();
                         //});

                         //$('#lista').load($('#tbusuario').DataTable().ajax.reload());
                         //waitingDialog.hide();
                         toastr.success(data.desmsg, msg_titulo);
                     }
                     else {
                         waitingDialog.hide();
                         toastr.error(data.desmsg, msg_titulo);
                     }
                 },
                 error: function (xhr) {
                     waitingDialog.hide();
                     toastr.error(xhr, msg_titulo);
                 }
             })

    }
</script>



