<script type="text/javascript">
    function InvalidMsg(textbox, str) {

        if (textbox.value.length == 0) {
            textbox.setCustomValidity(str);
        }
        else {
            textbox.setCustomValidity('');
        }
        return true;
    }
</script>
@model CapaEntidad.Control.Ent_Aplicacion
@{
    Layout = null;
}
@using (Ajax.BeginForm("Edit", new AjaxOptions { OnBegin = "OnEditar_Grabar();" }))
{
    <div class="modal-content">
        <div class="modal-header modal-header-primary">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editando Aplicación</h4>
        </div>
        <div class="modal-body">
            <input type="hidden" id="idapl" value="@Model.apl_id" />
            <table class="table table-striped">
                <tr>
                    <td><label for="nombre">Nombre</label></td>
                    <td>
                        <input type="text" id="nombre" value="@Model.apl_nombre" placeholder="Ingrese el nombre" autofocus class="form-control" oninvalid="InvalidMsg(this,'Ingrese el nombre')" required="required" />
                    </td>
                </tr>               
                <tr>
                    <td><label for="orden">Orden</label></td>
                    <td>
                        <input type="text" id="orden" value="@Model.apl_orden" placeholder="Ingese el orden" class="form-control" />
                    </td>
                </tr>              
                <tr>
                    <td><label for="controller">Controller</label></td>
                    <td>
                        <input type="text" id="controller" value="@Model.apl_controller" placeholder="Ingrese el controller" class="form-control" oninvalid="InvalidMsg(this,'Ingrese el controller')" required="required" />
                    </td>
                </tr>
                <tr>
                    <td><label for="action">Action</label></td>
                    <td>
                        <input type="text" id="action" value="@Model.apl_action" placeholder="Ingrese el action" class="form-control" oninvalid="InvalidMsg(this,'Ingrese el action')" required="required" />
                    </td>
                </tr>

            </table>
        </div>
        <div class="modal-footer" style="margin-top:-30px">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" id="btnSubmit" value="Aceptar" />
        </div>
    </div>
}
