@model CapaPresentacion.Models.Control.LoginViewModel
@using CapaEntidad.Util
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - {@Ent_Global.titulo_header}</title>
    @*<link rel="icon" type="image/x-icon" href="@Url.Content("~/Images/lock-favicon.png")" />*@    
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/vendors/bootstrap/dist/css/bootstrap.min.css")
    @Styles.Render("~/Content/vendors/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/vendors/pnotify/dist/pnotify.css")
    @Styles.Render("~/Content/vendors/pnotify/dist/pnotify.buttons.css")
    @Styles.Render("~/Content/vendors/pnotify/dist/pnotify.nonblock.css")
    @Styles.Render("~/Content/custom.css") 
  
</head>
<body style="background:#F7F7F7;">
    <div id="pageWrapper" class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper" class="mod_wrapper">
            <div id="login" class="form">
                <div style="text-align:center;">
                    @*<img src="@Url.Content("~/Content/LogoAq/logonew.png")" style="width: 85px;height: 72px;border-radius: 40px;" alt="Aquarella" width="150" height="150">*@
                    <img src="@Url.Content("~/Content/LogoAq/logonew.png")" style="width: 290px;height: 52px;" alt="Aquarella" width="150" height="150">
                    @*border:2px solid red*@                   
                </div>
                <section class="login_content">
                    @using (Html.BeginForm("Login", "Control", new { returnUrl = Model.returnUrl }, FormMethod.Post, new { @class = "login-box-body" }))
                    {
                        <h1>Iniciar Sesión</h1>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                     
                        <div class="form-group has-feedback">
                            <input name="Usuario" id="Usuario" type="text" class="form-control" placeholder="Usuario" autofocus oninvalid="InvalidMsg(this,'Ingrese el usuario')"  data-parsley-maxlength="255" data-parsley-maxlength-message="Ingresar un nombre de usuario valido"   required="required" />
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div  class="form-group has-feedback">
                            <input name="Password" id="txtContrasena" type="Password" class="form-control" placeholder="Contraseña" oninvalid="InvalidMsg(this, 'Ingrese el password')"  data-parsley-maxlength="255" data-parsley-maxlength-message="Ingresar una contraseña valida" required="required" />
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        @*<div class="">
                            <input id="btnEnviar" type="submit" class="btn btn-default submit"  value="Iniciar sesión" />
                
                        </div>*@
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="checkbox icheck">
                                    <label>
                                        <input type="checkbox" id="Recordar" name="Recordar" value="true" @(Model.Recordar ? "checked=\"checked\"" : "")> Recordármelo la próxima vez
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar</button>
                            </div>
                            <!-- /.col -->
                        </div>
                        <a  href="~/Usuarios/recoveryPassword">¿Ha olvidado la contraseña?</a><br>


                        <div class="clearfix"></div>
                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                @*<h1><img src="@Url.Content("~/Content/LogoAq/logonew.png")"  style="border-radius: 23px;" width=46 height=41 >&nbsp;&nbsp;Aquarella</h1>*@
                                <p>Área de Sistemas - Catálogo Bata - &copy; @DateTime.Now.Year</p>
                            </div>
                        </div>                 
                    }
                </section>
            </div>
        </div>
    </div>   
</body>
</html>
<script type="text/javascript">

    function InvalidMsg(textbox,str) {
     
        if (textbox.value.length == 0) {
            textbox.setCustomValidity(str);
        }
        else {
                textbox.setCustomValidity('');
        }
        return true;
    }
</script>


