
@{
    Layout = null;
}
<style>
   .loader {
            position: fixed;
            left: 0px;
            top: 47px;
            width: 100%;
            height: 87%;
            z-index: 9999;
            background: url('../Content/MercadoPago/img/loading-cargando.gif') 50% 50% no-repeat rgb(249,249,249);
            opacity: .8;
        }   
 
.content img {
	vertical-align:middle;
}

     .line {
          height:1px;
          width:100%;
          margin-top:10px;
          margin-bottom:10px;
          background:#ddd;
        }
    .table thead {
        background-color: #5799bf;
        color: #fff;
    }

    .boton-xs-td {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    .alignRight {
        text-align: right;
        vertical-align: middle;
    }

    .alignCenter {
        text-align: center;
        vertical-align: middle;
    }
    /*[style RadioBox]*/
    .control {
        font-family: arial;
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;
        padding-top: 3px;
        cursor: pointer;
        font-size: 12px;
    }

        .control input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

    .control_indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background: #e6e6e6;
        border: 1px solid #B1BAC1;
        border-radius: undefinedpx;
    }

    .control:hover input ~ .control_indicator,
    .control input:focus ~ .control_indicator {
        background: #cccccc;
    }

    .control input:checked ~ .control_indicator {
        background: #156aac;
    }

    .control:hover input:not([disabled]):checked ~ .control_indicator,
    .control input:checked:focus ~ .control_indicator {
        background: #0e6647d;
    }

    .control input:disabled ~ .control_indicator {
        background: #e6e6e6;
        opacity: 0.6;
        pointer-events: none;
    }

    .control_indicator:after {
        box-sizing: unset;
        content: '';
        position: absolute;
        display: none;
    }

    .control input:checked ~ .control_indicator:after {
        display: block;
    }

    .control-radio .control_indicator {
        border-radius: 50%;
    }

        .control-radio .control_indicator:after {
            left: 6px;
            top: 6px;
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background: #ffffff;
            transition: background 250ms;
        }

    .control-radio input:disabled ~ .control_indicator:after {
        background: #7b7b7b;
    }
    /*[/style RadioBox]*/

</style>

<span style="display:none;" value="@ViewBag.mercadoPagoPublicKey" id="mercadopagopublickey">@ViewBag.mercadoPagoPublicKey</span>
<span style="display:none;" value="@ViewBag.nombreCompletoUsuario" id="nombreCompletoUsuario">@ViewBag.nombreCompletoUsuario</span>
<span style="display:none;" value="@ViewBag.email" id="emailcontacto">@ViewBag.email</span>
<span style="display:none;" value="@ViewBag.numerodocumento" id="numerodocumento">@ViewBag.numerodocumento</span>
<span style="display:none;" value="@ViewBag.direccion" id="direccion">@ViewBag.direccion</span>

<span style="display:none;" value="@ViewBag.nombres" id="nombreTitular">@ViewBag.nombres</span>
<span style="display:none;" value="@ViewBag.apellidos" id="apellidoTitular">@ViewBag.apellidos</span>

<span style="display:none;" value="@ViewBag.tipo_des" id="tipo_des">@ViewBag.tipo_des</span>
<span style="display:none;" value="@ViewBag.referencia" id="referencia">@ViewBag.referencia</span>
<span style="display:none;" value="@ViewBag.agencia" id="agencia">@ViewBag.agencia</span>
<span style="display:none;" value="@ViewBag.destino" id="destino">@ViewBag.destino</span>
<span style="display:none;" value="@ViewBag.agencia_direccion" id="agencia_direccion">@ViewBag.agencia_direccion</span>
<span style="display:none;" value="@ViewBag.tipo_documento" id="tipo_documento">@ViewBag.tipo_documento</span>
<span style="display:none;" value="@ViewBag.celular" id="celular">@ViewBag.celular</span>
<span style="display:none;" value="@ViewBag.departamento" id="departamento">@ViewBag.departamento</span>
<span style="display:none;" value="@ViewBag.provincia" id="provincia">@ViewBag.provincia</span>
<span style="display:none;" value="@ViewBag.TokenTarjetaMercadoPago" id="tokenTarjetaMercadoPago">@ViewBag.TokenTarjetaMercadoPago</span>
<span style="display:none;" value="@ViewBag.totalpago" id="totalpago">@ViewBag.totalpago</span>

<span style="display:none;" value="@ViewBag.nroliq" id="nroliqui1">@ViewBag.nroliq</span>
<span style="display:none;" value="@ViewBag.nro_pedido" id="nropedido2">@ViewBag.nro_pedido</span>

<span style="display:none;" value="@ViewBag.liq_tipo_prov" id="liq_tipo_prov">@ViewBag.liq_tipo_prov</span>
<span style="display:none;" value="@ViewBag.liq_provincia" id="liq_provincia">@ViewBag.liq_provincia</span>

<span style="display:none;" value="@ViewBag.pagodirecto" id="pagodirecto">@ViewBag.pagodirecto</span>

<div class="loader" id="loading"></div>
    <div class="row" id="frmRequestPayment" style="visibility:visible">
        <div class="modal-content">
            <div class="modal-header modal-header-danger" style="background-color: #52a3c9 !important;">
                <h4 class="modal-title" id="myModalLabel1" style="color:white">Checkout - Mercado Pago</h4>
            </div>
            <div style="font-size:small;overflow-y: auto;height:500px" class="modal-body" id="listaDetProms">
                <form id="FormRegistro" name="FormRegistro" style="padding:inherit;">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="tipopago"><i class="glyphicon glyphicon-money"></i>Seleccione el tipo de Tarjeta</label>
                        </div>
                        <div class="col-md-3 ">
                            <label class="control control-radio" style="font-size:14px;font-weight:bold;">
                                Crédito
                                <input id="chktc" type="radio" name="flexRadioDefault" />
                                <div class="control_indicator"></div>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="control control-radio" style="font-size:14px;font-weight:bold;">
                                Débito
                                <input id="chktd" type="radio" name="flexRadioDefault" />
                                <div class="control_indicator"></div>
                            </label>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-4">                          
                            <label for="exampleFormControlInput1" class="label-form-custom">Seleccione la forma de pago:</label>
                            
                        </div>
                        <div class="col-md-5">
                            <select class="form-control"
                                    id="dwFormaPagoCard"
                                    name="dwFormaPagoCard"
                                    disabled="disabled"
                                    style="font-size:14px;">
                                <option value="0">Seleccione</option>
                                <option value="visa">Visa</option>
                                <option value="master">MasterCard</option>
                                <option value="amex">AmericanExpress</option>
                            </select>
                            <select class="form-control"
                                    id="dwFormaPagoCardDeb"
                                    name="dwFormaPagoCardDeb"
                                    disabled="disabled"
                                    style="font-size:14px;">
                                <option value="0">Seleccione</option>
                                <option value="debvisa">Visa</option>
                                <option value="debmaster">MasterCard</option>
                            </select>  
                        </div>
                    </div>
                    <div class='line'></div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="dcliente">DETALLE DEL CLIENTE</label>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="txtNombres" class="label-form-custom">Nombres y Apellidos</label>
                                <input type="text" class="form-control" style="max-width:100%;font-size:14px;" disabled="disabled"  id="txtNombres" name="txtNombres">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="txtDocumento" class="label-form-custom">Dni ó R.U.C</label>
                                <input type="text" class="form-control" style="font-size:14px;"  id="txtDocumento" disabled="disabled" name="txtDocumento">
                            </div>
                        </div>
                    </div>
                    <div class='line'></div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="label-form-custom" style="font-size:15px;"><string>TOTAL A PAGAR:</string></label>&nbsp;&nbsp;&nbsp; 
                        </div>
                        @*<div class="col-md-1"> 
                        </div>
                        <div class="col-md-1"> 
                        </div>*@
                        @*<div class="col-md-1">
                            <label style="font-size:25px;"><string>S/.</string></label>
                        </div>*@
                        <div class="col-md-8" style="text-align:end;">
                            <div class="form-group">                                
                                <strong>
                                    <strong>
                                       <span style="font-size: 20px;">S/.</span>
                                        <span style='font-size:20px;'
                                              id="total_amount"></span>
                                    </strong>
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class='line'></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-group-sm">
                                <label for="dclientemp">GENERAR COMPRA</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src='../Content/MercadoPago/img/logos/logo-visa.jpg'
                                 height='80' class='credit-card-image' id='credit-card-image' />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="txtnombre_titular" class="label-form-custom">Nombres de Titular</label>
                                <input type="text" class="form-control" style="font-size:14px;"  name="txtnombre_titular" id="txtnombre_titular">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="txtApellidos_titular" class="label-form-custom">Apellidos de Titular</label>
                                <input type="text" class="form-control" style="font-size:14px;" name="txtApellidos_titular" id="txtApellidos_titular" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <b>Número de la tarjeta</b>
                            <input type="text"
                                   class='form-control'
                                   id="txtnumero_tarjeta"
                                   style="max-width:100%; font-size:1.3rem;font-size:14px;"
                                   placeholder="0123 456 789 125 558" maxlength="16" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group form-group-sm">
                                <label for="anio" class="label-form-custom">Año</label>
                                <select class="form-control"
                                        id="anio"
                                        style="width:100px;font-size:14px;" placeholder="Año">
                                    <option>Seleccione</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group-sm">
                                <label for="mes" class="label-form-custom">Mes</label>
                                <select class="form-control"
                                        id="mes"
                                        style="width:100px;font-size:14px;" placeholder="Mes">
                                    @*<option>Seleccione</option>*@
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group-sm">
                                <label for="exampleFormControlInput1" class="label-form-custom">CSV</label>&nbsp;
                                @*<img id="horizontal_logo" style="width:16px;height:16px;cursor:pointer;"
                                src="../Content/MercadoPago/img/logos/noimagencard.png" />*@
                                <input type="text"
                                       class="form-control"
                                       id="txtcvc"
                                       style="font-size:1.3rem; width:120px;font-size:14px;"
                                       placeholder="CVV" maxlength="4" autocomplete="off"/>
                            </div>
                        </div>
                        <div class="col-md-3" id="nrcuotas">
                            <div class="form-group form-group-sm">
                                <label for="txtCuotas" class="label-form-custom">N° Cuotas</label>
                                <input type="text"
                                       class="form-control"
                                       id="txtCuotas"
                                       style="font-size:1.3rem;font-size:14px;"
                                       placeholder="Cuotas" maxlength="3" value="1" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group form-group-sm">
                                <label for="dwTipoDocumentoPayment" class="label-form-custom">Tipo documento</label>
                                <select class="form-control"
                                        id="dwTipoDocumentoPayment"
                                        name="dwTipoDocumentoPayment" style="width:100px;font-size:14px;">
                                    <option value="DNI">DNI</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group form-group-sm">
                                <label for="txtDocumentoPayment" class="label-form-custom">N° de documento</label>
                                <input type="text"
                                       class="form-control"
                                       id="txtDocumentoPayment"
                                       style="font-size:1.3rem;font-size:14px;" min="8" max="8" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="txtEmail" class="label-form-custom">E-Mail de contacto</label>
                                <input type="text"
                                       class="form-control"
                                       id="txtEmail"
                                       style="font-size:1.3rem; max-width:100%;font-size:14px;" />
                            </div>
                        </div>
                    </div>
                    <div class="row" hidden="hidden">
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="txtubicacion" class="label-form-custom">Dirección</label>
                                <input type="text"
                                       class="form-control"
                                       id="txtubicacion"
                                       style="font-size:1.3rem;font-size:14px;" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-sm">
                                <label for="txtNumeroDireccion" class="label-form-custom">N° dirección</label>
                                <input type="text"
                                       class="form-control"
                                       id="txtNumeroDireccion"
                                       style="font-size:1.3rem;font-size:14px;" />
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:15px;">
                            <p id="loading-message" style="margin-left:15px"><strong>*Recordar que al procesar el pago, no se debe actualizar la página web.</strong></p>
                        </div>
                    </div>

                </form>
            </div>           
            <div class="modal-footer" id="footer_modal">
                <div class="form-group col-md-1">
                    <img src="~/Content/MercadoPago/img/horizontal_logo_mercadopago.png" style="max-height: 38px;" />
                </div>
                
                <button type="button" data-vista="principal" style="font-weight:bold;" data-operacion="registrar" class="btn btn-success" onclick="registerPayment();" id="btnPago"><i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;&nbsp;PROCESAR PAGO</button>
                <button type="button" id="btnCerrarCheckout" class="btn btn-danger" onclick="parentCloseModalDetail();"><i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;&nbsp;CANCELAR</button>
            </div>
          
            <br />
            <br />
        </div>
        
    </div>
<div class="row" id="frmResponsePayment" hidden="hidden" style="visibility:visible">
    <div class="modal-content">
        <div class="modal-header modal-header-danger" style="background-color: #52a3c9 !important;">
            <h4 class="modal-title" id="myModalLabel2" style="color:white">Checkout - Mercado Pago</h4>
        </div>
        <div style="font-size:small;overflow-y: auto;height:290px;" class="modal-body" id="listaDetProms">
            <form id="FormRegistro" name="FormRegistro">
                <div class="row">
                    <div class="col-md-12">
                        <label for="tipopago" style="font-size:25px;font-weight:bold"><i class="glyphicon glyphicon-money"></i>Detalle del Pago</label>
                    </div>                    
                </div>
               
                <div class="row">
                    <div class="col-md-12 ">
                        <div style="text-align:center">
                            <img src="../Content/MercadoPago/img/check-success-api.png"
                                 height='80' class='credit-card-image' id='img-respuesta-api' />
                        </div>
                        <br />
                        <div style="text-align:left">
                            <p style="font-size:17px;"><b>N° de Pago: </b><span id="payment-id"></span></p>
                            <p style="font-size:17px;"><b>Estado del pago: </b><span id="payment-status"></span></p>
                            <p style="font-size:17px;"><b>N° de Pedido: </b><span id="nropedido"></span></p>
                        </div>                       
                    </div>
                 </div>                 
            <br />
            </form>
        </div>
        <div class="modal-footer" id="footer_modal">
            @*<a href="@Url.Action("Lista","Pedido")" class="btn btn-primary" style="width:100%">Volver a Pedidos</a>*@
            <button type="button"
                    class="btn btn-success"
                    id="btnPedido"
                    onclick="showListaPedido();" style="width:100%;">
                Finalizar la Compra
                <img src="" id="hug_loading" style="max-height: 30px; margin-left:10px;" />
            </button>         
        </div>
        <br />
        <br />
    </div>
</div>
<div class="modal fade" id="myModalInfoTime" style="top:55px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-app>
    <div class="modal-dialog">
        <div class="modal-content" style="top:100px;">
            <div class="modal-header modal-header-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel3" style="color:white">Alerta de errores</h4>
            </div>
            <div class="modal-body" style="height:100% auto;">
                <div id="divInfoTime">
                    <label style="color:#343434;font-weight:bold">Considera las siguientes validaciones:</label>
                    <div class="row">
                        <form role="form">
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <ul id="lista-error" class="list-option pl-4"></ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top:-30px">
                    <button id="btnCerrarInfo" type="button" onclick="modal_mensaje();" class="btn btn-default">Cerrar</button>
                </div>
            </div>
        </div>

    </div>
</div>
 <script src="//wurfl.io/wurfl.js" crossorigin></script>
<script>
    $(window).load(function () {
        $("#loading").fadeOut("slow");
    });
    $(document).ready(function () {
        $("#loading").fadeOut("slow");
        var listProducts = [];
        getInformationDevice();
        getInfoByUser();
        getDayMonthCard();
        changeCardPayment("0");
        $("#frmRequestPayment").show();
        $("#frmResponsePayment").hide();
        $("#chktc").prop("checked", false);
        $("#chktd").prop("checked", false);
        //promiseDevice();
        document.getElementById('dwFormaPagoCardDeb').style.display = 'none';


    });

    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }



    var tipo_pago;
    function modal_mensaje() {
        $('#myModalInfoTime').modal('hide');
    }
    function getInfoByUser() {

        //document.getElementById("myModalLabel").value = document.getElementById("nropedido").innerHTML

        var nro_pedido = document.getElementById("nroliqui1").innerHTML;
        nro_pedido = (nro_pedido.length == 0 ? 'Checkout - Mercado Pago' : 'Checkout - Mercado Pago - Pedido N°: ' + nro_pedido);

        $('#myModalLabel1').text(nro_pedido);
        $('#myModalLabel2').text(nro_pedido);
        $('#myModalLabel3').text(nro_pedido);

        document.getElementById("txtNombres").value = document.getElementById("nombreCompletoUsuario").innerHTML;;
        document.getElementById("txtDocumento").value = document.getElementById("numerodocumento").innerHTML;

        document.getElementById("txtubicacion").value = document.getElementById("direccion").innerHTML;

        var _totalpago = document.getElementById("totalpago").innerHTML;
        if (_totalpago == "0") { document.getElementById("total_amount").innerHTML = "0.00"; }
        else { document.getElementById("total_amount").innerHTML = _totalpago; }
    }

    function getDayMonthCard() {
        var today = new Date();
        var anioMinimo = today.getFullYear();
        var anioMaximo = 2030;
        var anio = 0;

        var comboAnio = document.getElementById("anio");

        for (let i = anioMinimo; i <= anioMaximo; i++) {
            let option = document.createElement("option");
            option.setAttribute("value", i);

            let optionText = document.createTextNode(i);
            option.appendChild(optionText);
            comboAnio.appendChild(option);
        }

        var array = [
          "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12"
        ];

        var comboMes = document.getElementById("mes");

        for (let i = 0; i < array.length; i++) {
            var option = document.createElement("option");
            option.setAttribute("value", i);
            var itexto = "Seleccione";

            switch (i) {
                case 1: itexto = "1";
                    break;
                case 2: itexto = "2";
                    break;
                case 3: itexto = "3";
                    break;
                case 4: itexto = "4";
                    break;
                case 5: itexto = "5";
                    break;
                case 6: itexto = "6";
                    break;
                case 7: itexto = "7";
                    break;
                case 8: itexto = "8";
                    break;
                case 9: itexto = "9";
                    break;
                case 10: itexto = "10";
                    break;
                case 11: itexto = "11";
                    break;
                case 12: itexto = "12";
                    break;
            }

            var optionText = document.createTextNode(itexto);
            option.appendChild(optionText);
            comboMes.appendChild(option);
        }

    }
    function changeCardPayment(valueSelect) {
        if (valueSelect === "0") {
            document.getElementById('credit-card-image').src = "../Content/MercadoPago/img/logos/noimagencard.png";
            $("#txtnombre_titular").prop("disabled", true);
            $("#txtnumero_tarjeta").prop("disabled", true);
            $("#anio").prop("disabled", true);
            $("#mes").prop("disabled", true);
            $("#txtcvc").prop("disabled", true);
            $("#horizontal_logo").prop("disabled", true);
            $("#btnPago").prop("disabled", true);
            $("#txtCuotas").prop("disabled", true);
            $("#dwTipoDocumentoPayment").prop("disabled", true);
            $("#txtDocumentoPayment").prop("disabled", true);
            $("#txtApellidos_titular").prop("disabled", true);
            $("#txtEmail").prop("disabled", true);
            $("#txtubicacion").prop("disabled", true);
            $("#txtNumeroDireccion").prop("disabled", true);
        }
        else if (valueSelect === "visa" || valueSelect === "debvisa") {
            document.getElementById('credit-card-image').src = "../Content/MercadoPago/img/logos/logo-visa.jpg";
            $("#txtnombre_titular").prop("disabled", false);
            $("#txtnumero_tarjeta").prop("disabled", false);
            $("#anio").prop("disabled", false);
            $("#mes").prop("disabled", false);
            $("#txtcvc").prop("disabled", false);
            $("#horizontal_logo").prop("disabled", false);
            $("#txtCuotas").prop("disabled", false);
            $("#btnPago").prop("disabled", false);
            $("#dwTipoDocumentoPayment").prop("disabled", false);
            $("#txtDocumentoPayment").prop("disabled", false);
            $("#txtApellidos_titular").prop("disabled", false);
            $("#txtEmail").prop("disabled", false);
            $("#txtubicacion").prop("disabled", false);
            $("#txtNumeroDireccion").prop("disabled", false);
        }
        else if (valueSelect === "master" || valueSelect === "debmaster") {
            document.getElementById('credit-card-image').src = "https://dl.dropboxusercontent.com/s/2vbqk5lcpi7hjoc/MasterCard_Logo.svg.png";
            $("#txtnombre_titular").prop("disabled", false);
            $("#txtnumero_tarjeta").prop("disabled", false);
            $("#anio").prop("disabled", false);
            $("#mes").prop("disabled", false);
            $("#txtcvc").prop("disabled", false);
            $("#horizontal_logo").prop("disabled", false);
            $("#txtCuotas").prop("disabled", false);
            $("#btnPago").prop("disabled", false);
            $("#dwTipoDocumentoPayment").prop("disabled", false);
            $("#txtDocumentoPayment").prop("disabled", false);
            $("#txtApellidos_titular").prop("disabled", false);
            $("#txtEmail").prop("disabled", false);
            $("#txtubicacion").prop("disabled", false);
            $("#txtNumeroDireccion").prop("disabled", false);

        }
        else if (valueSelect === "amex") {
            document.getElementById('credit-card-image').src = "https://dl.dropboxusercontent.com/s/f5hyn6u05ktql8d/amex-icon-6902.png";
            $("#txtnombre_titular").prop("disabled", false);
            $("#txtnumero_tarjeta").prop("disabled", false);
            $("#anio").prop("disabled", false);
            $("#mes").prop("disabled", false);
            $("#txtcvc").prop("disabled", false);
            $("#horizontal_logo").prop("disabled", false);
            $("#txtCuotas").prop("disabled", false);
            $("#btnPago").prop("disabled", false);
            $("#dwTipoDocumentoPayment").prop("disabled", false);
            $("#txtDocumentoPayment").prop("disabled", false);
            $("#txtApellidos_titular").prop("disabled", false);
            $("#txtEmail").prop("disabled", false);
            $("#txtubicacion").prop("disabled", false);
            $("#txtNumeroDireccion").prop("disabled", false);
        }
    }
    function parentCloseModalDetail() {
        //$("#PuntosTienda-load").removeClass("hidden");
        //parent.parentCloseModalDetailCardCvvView();
        $('#mdlMercadoPago').modal('hide');

        //alert(document.getElementById("nropedido2").innerHTML);
        return false;
    }
    function getValidarTipoPago(valid) {
        switch (valid) {
            case "tc":
                $("#dwFormaPagoCard").prop("disabled", false);
                document.getElementById('dwFormaPagoCardDeb').style.display = 'none';
                document.getElementById('dwFormaPagoCard').style.display = 'block';
                break;
            case "td":
                $("#dwFormaPagoCardDeb").prop("disabled", false);
                document.getElementById('dwFormaPagoCard').style.display = 'none';
                document.getElementById('dwFormaPagoCardDeb').style.display = 'block';
                break;
        }

    }

    $('#dwFormaPagoCard').change(function () {
        tipo_pago = $(this).val();
        changeCardPayment($(this).val());
    })

    $('#dwFormaPagoCardDeb').change(function () {
        tipo_pago = $(this).val();
        changeCardPayment($(this).val());
    })

    $('#dwTipoDocumentoPayment').change(function () {
        if ($(this).val() == "0") { $("#txtDocumentoPayment").prop("disabled", true); }
        else { $("#txtDocumentoPayment").prop("disabled", false); }
    })


    $('#chktc').click(function () {
        //alert('tc')
        getValidarTipoPago("tc");
        $("#nrcuotas").show();
    })

    $('#chktd').click(function () {
        //alert('td')
        getValidarTipoPago("td");
        $("#nrcuotas").hide();
    })
    $('#txtnumero_tarjeta').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });

    $('#txtCuotas').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });

    $('#txtcvc').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });

    $('#txtCuotas').on('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });

    function soloLetras(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
        especiales = [8, 37, 39, 46];

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial)
            return false;
    }

    function registerPayment() {
        $("#loading").fadeIn("slow");
        if (getPayValidate()) {
            var token_public = document.getElementById("mercadopagopublickey").innerHTML;
            var nombreCompletoTitular = $("#txtnombre_titular").val() + ' ' + $("#txtApellidos_titular").val();
            var nombreTitular = $("#txtnombre_titular").val();
            var apellidoTitular = $("#txtApellidos_titular").val();
            var numeroTarjeta = $("#txtnumero_tarjeta").val();
            var emailCliente = $("#txtEmail").val();
            var fechaExpiracionAnio = $("#anio").val();
            var fechaExpiracionMes = $("#mes").val();
            var codigoSeguridad = $("#txtcvc").val();
            var tipoDocumento = $("#dwTipoDocumentoPayment").val();
            var numeroDocumento = $("#txtDocumentoPayment").val();
            getTokenCard(token_public, numeroTarjeta, codigoSeguridad, fechaExpiracionMes, fechaExpiracionAnio, nombreCompletoTitular, numeroDocumento, tipoDocumento, os_device, system_version, ram, disk_space, model, free_disk_space, feature_flash, can_make_phone_calls, can_send_sms, video_camera_available, cpu_count, simulator, device_languaje, device_idiom, platform, device_name, device_family, retina_display_capable, feature_camera, device_model, feature_front_camera, resolution);
        }
    }
    function getTokenCard(token_public, numeroTarjeta, codigoSeguridad, fechaExpiracionMes, fechaExpiracionAnio, nombreCompletoTitular, numeroDocumento, tipoDocumento, os_device, system_version, ram, disk_space, model, free_disk_space, feature_flash, can_make_phone_calls, can_send_sms, video_camera_available, cpu_count, simulator, device_languaje, device_idiom, platform, device_name, device_family, retina_display_capable, feature_camera, device_model, feature_front_camera, resolution) {
        var listDevice = [];
        var uuid_value = uuidv4();
        listDevice.push({
            "name": "vendor_id",
            "value": "C2508642-79CF-44E4-A205-284A4F4DE04C"
        },
        {
            "name": "uuid",
            "value": uuid_value
        });
        $.ajax({
            type: "POST",
            url: '@Url.Action("SetCardToken", "PasarelaPago")',
            data: { 'token_public': token_public, 'numeroTarjeta': numeroTarjeta, 'codigoSeguridad': codigoSeguridad, 'fechaExpiracionMes': fechaExpiracionMes, 'fechaExpiracionAnio': fechaExpiracionAnio, 'nombreCompletoTitular': nombreCompletoTitular, 'numeroDocumento': numeroDocumento, 'tipoDocumento': tipoDocumento, 'os_device': os_device, 'system_version': system_version, 'ram': ram, 'disk_space': disk_space, 'model': model, 'free_disk_space': free_disk_space, 'feature_flash': feature_flash, 'can_make_phone_calls': can_make_phone_calls, 'can_send_sms': can_send_sms, 'video_camera_available': video_camera_available, 'cpu_count': cpu_count, 'simulator': simulator, 'device_languaje': device_languaje, 'device_idiom': device_idiom, 'platform': platform, 'device_name': device_name, 'device_family': device_family, 'retina_display_capable': retina_display_capable, 'feature_camera': feature_camera, 'device_model': device_model, 'feature_front_camera': feature_front_camera, 'resolution': resolution, 'vendors': listDevice },
            success: function (data) {
                var nombreTitular = $("#txtnombre_titular").val();
                var apellidoTitular = $("#txtApellidos_titular").val();
                var emailCliente = $("#txtEmail").val();
                var tipoDocumento = $("#dwTipoDocumentoPayment").val();
                var numeroDocumento = $("#txtDocumentoPayment").val();
                var zipCode = "01";
                var street_name = $("#txtubicacion").val();
                var state_name = document.getElementById("departamento").innerHTML;
                var city_name = document.getElementById("provincia").innerHTML;
                var installments = $("#txtCuotas").val();
                var street_number = $("#txtNumeroDireccion").val();

                var payment_method_id = tipo_pago;
                var importeTotal = document.getElementById("total_amount").innerHTML;
                var tokenCard = data.data;
                var numerocelular = document.getElementById("celular").innerHTML;

                var tipo_des = document.getElementById("tipo_des").innerHTML;
                var referencia = document.getElementById("referencia").innerHTML;
                var agencia = document.getElementById("agencia").innerHTML;
                var destino = document.getElementById("destino").innerHTML;
                var agencia_direccion = document.getElementById("agencia_direccion").innerHTML;

                var liq_tipo_prov = document.getElementById("liq_tipo_prov").innerHTML;
                var liq_provincia = document.getElementById("liq_provincia").innerHTML;

                var direccion = document.getElementById("direccion").innerHTML;


                if (data.Status = 0 || data.LastFourDigits != null) {
                    proccessPaymentMercadoPago(nombreTitular, apellidoTitular, zipCode, street_name, state_name, city_name, installments,
                               tipoDocumento, numeroDocumento, payment_method_id, tokenCard, importeTotal, emailCliente, numerocelular, tipo_des,
                               direccion, referencia, agencia, destino, agencia_direccion, liq_tipo_prov, liq_provincia, "MercadoPago", street_number);
                } else {
                    toastr.error(data.Message, 'Mensaje');
                    $("#loading").fadeOut("slow");
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log('Error interno en el servidor');
                $("#loading").fadeOut("slow");
            }
        });

    }


    function enviarTransaccionServicio(nombreTitular, apellidoTitular, zipCode, street_name, state_name, city_name, installments, tipoDocumento, numeroDocumento, payment_method_id, tokenCard, importeTotal, emailCliente, numerocelular, external_reference, listProducts, street_number) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("PostProccessPayment", "PasarelaPago")',
            data: { "nombreTitular": nombreTitular, "apellidoTitular": apellidoTitular, "zipCode": zipCode, "street_name": street_name, "state_name": state_name, "city_name": city_name, "installments": installments, "tipoDocumento": tipoDocumento, "numeroDocumento": numeroDocumento, "payment_method_id": payment_method_id, "tokenCard": tokenCard, "importeTotal": importeTotal, "emailCliente": emailCliente, "numerocelular": numerocelular, "external_reference": external_reference, "listProducts": listProducts, "street_number": street_number },
            success: function (data) {
                if ((data.Success).toString() == "true") {
                    responsePaymentProcessed(data.Status, data.Data.id, data.Message, external_reference, data.Data);
                    if (data.Mensaje_Premio != '') {
                        toastr.success(data.Mensaje_Premio);
                    }
                    //getwebhooks(data.Data.id, data.Mensaje_Premio, data.Status, data.Message, external_reference, data.Data.notification_url);
                } else {
                    toastr.error("Su información ha sido rechazada, intentalo nuevamente.", 'Mensaje');
                    $("#loading").fadeOut("slow");
                }
            },
            error: function (xhr) {
                waitingDialog.hide();
                toastr.error(xhr, 'Mensaje');
                $("#loading").fadeOut("slow");
            }
        });

    }

    function getwebhooks(idpayment, Mensaje_Premio, Status, Message, external_reference, notification_url) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetWebhookStatus", "PasarelaPago")',
            data: { "idpayment": idpayment },
            success: function (data) {
                if ((data.Success).toString() == "true") {
                    responsePaymentProcessed(Status, idpayment, Message, external_reference, data.Data);
                    if (Mensaje_Premio != '') {
                        toastr.success(Mensaje_Premio);
                    }
                } else {
                    toastr.error("Hubo un error en Webhooks.", 'Mensaje');
                    $("#loading").fadeOut("slow");
                }
            },
            error: function (xhr) {
                waitingDialog.hide();
                toastr.error(xhr, 'Mensaje');
                $("#loading").fadeOut("slow");
            }
        });
    }

    function proccessPaymentMercadoPago(nombreTitular, apellidoTitular, zipCode, street_name, state_name, city_name, installments,
                   tipoDocumento, numeroDocumento, payment_method_id, tokenCard, importeTotal, emailCliente, numerocelular, tipo_des,
                   direccion, referencia, agencia, destino, agencia_direccion, liq_tipo_prov, liq_provincia, formaPago, street_number) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LiquidarPedido", "Pedido")',
            data: { tipo_des: tipo_des, agencia: agencia, destino: destino, direccion_agencia: agencia_direccion, direccion: direccion, referencia: referencia, liq_tipo_prov: liq_tipo_prov, liq_provincia: liq_provincia, _formaPago: formaPago, liq_directo: document.getElementById("nroliqui1").innerHTML, ped_directo: document.getElementById("nropedido2").innerHTML },
            success: function (data) {
                waitingDialog.hide();
                if ((data.Success).toString() == "true") {
                    var numero_orden = data.Message;
                    listProducts = data.Products;
                    enviarTransaccionServicio(nombreTitular, apellidoTitular, zipCode, street_name, state_name, city_name, installments,
                              tipoDocumento, numeroDocumento, payment_method_id, tokenCard, importeTotal, emailCliente, numerocelular, data.Message, listProducts, street_number);
                } else {
                    toastr.error(data.Message, "Error");
                    $("#loading").fadeOut("slow");
                }
            },
            error: function (xhr) {
                waitingDialog.hide();
                toastr.error(xhr, 'Mensaje');
                $("#loading").fadeOut("slow");
            }
        });
    }
    function getPayValidate() {
        var cardholder = $("#txtnombre_titular").val();
        var cardnumber = $("#txtnumero_tarjeta").val();
        var anio = $("#anio").val();
        var mes = $("#mes").val();
        var cvv = $("#txtcvc").val();
        var cuotas = $("#txtCuotas").val();

        var tipodoc = $("#dwTipoDocumentoPayment").val();
        var document_titular = $("#txtDocumentoPayment").val();
        //var p = document.createElement("p");
        var email = $("#txtEmail").val();
        var direccion = $("#txtubicacion").val();
        var numerodirecion = $("#txtNumeroDireccion").val();
        var errors = [];

        if (cardholder == null || cardholder == "") { errors.push('Debe ingresar el nombre del titular de la tarjeta.'); }
        if (cardnumber == null || cardnumber == "") { errors.push('Debe ingresar un número de tarjeta.'); }
        if (anio == "Seleccione") { errors.push('Debes seleccionar el Año de vencimiento de tu tarjeta.'); }
        if (mes == "0") { errors.push('Debes seleccionar el Mes de vencimiento de tu tarjeta.'); }
        if (cvv == null || cvv == '') { errors.push('Debe ingresar un CVV.'); }
        if (tipodoc == "0" || tipodoc == null) { errors.push('Debe seleccionar un tipo de documento.'); }
        if (document_titular == "" || document_titular == null || document_titular.length < 8 || document_titular.length > 8) { errors.push('Debe ingresar un número de documento válido.'); }
        if (email == "" || email == null) { errors.push('Debe ingresar un email.'); }
        //if (direccion == "" || direccion == null) { errors.push('Debe ingresar una dirección.'); }

        /*borrar elementos*/
        var lis = document.querySelectorAll('#lista-error li');
        for (var i = 0; li = lis[i]; i++) {
            li.parentNode.removeChild(li);
        }

        for (i = 0; i < errors.length; i++) {
            var content = errors[i];
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(content));
            document.getElementById("lista-error").appendChild(li);
        }

        if (errors.length > 0) {
            $("#loading").fadeOut("slow");
            $('#myModalInfoTime').modal('show');
            errors.splice();
            return false;
        }

        return true;
    }
    function responsePaymentProcessed(status, idpayment, message, nropedido) {
        $("#frmRequestPayment").hide();
        $("#frmResponsePayment").show();

        switch (status) {
            case "1":
                document.getElementById('img-respuesta-api').src = "../Content/MercadoPago/img/infor-bata.png";
                document.getElementById('payment-id').innerHTML = idpayment;
                document.getElementById('payment-status').innerHTML = message;
                document.getElementById('nropedido').innerHTML = nropedido;
                //notification = status_notification;
                $("#loading").fadeOut("slow");
                break;
            case "2":
                document.getElementById('img-respuesta-api').src = "../Content/MercadoPago/img/check-success-api.png";
                document.getElementById('payment-id').innerHTML = idpayment;
                document.getElementById('payment-status').innerHTML = message;
                document.getElementById('nropedido').innerHTML = nropedido;
                //notification = status_notification;
                $("#loading").fadeOut("slow");
                break;
            default:
                document.getElementById('img-respuesta-api').src = "../Content/MercadoPago/img/infor-bata.png";
                document.getElementById('payment-id').innerHTML = idpayment;
                document.getElementById('payment-status').innerHTML = message;
                document.getElementById('nropedido').innerHTML = nropedido;
                //notification = status_notification;
                $("#loading").fadeOut("slow");
                break;

        }
    }
    function showListaPedido() {
        var estado = document.getElementById("pagodirecto").innerHTML;;

        if (estado!="1"){
            document.getElementById('hug_loading').src = "../Content/MercadoPago/img/hug.gif";
            $("#btnPedido").prop("disabled", true);
            @*window.location.href = "@Url.Action("Lista", "Pedido")";*@
            parent.parentHrefPopup();
        }else{
            $('#mdlMercadoPago').modal('hide');
            get_info_cliente(0);
        }



        //window.location.href = "@Url.Action("Lista", "Pedido")";
    }
    function getInformationDevice() {
        var unknown = '-';
        var screenSize = '';
        if (screen.width) {
            width = (screen.width) ? screen.width : '';
            height = (screen.height) ? screen.height : '';
            screenSize += '' + width + "x" + height;
        }

        var nVer = navigator.appVersion;
        var nAgt = navigator.userAgent;
        var browser = navigator.appName;
        var _version = '' + parseFloat(navigator.appVersion);
        var majorVersion = parseInt(navigator.appVersion, 10);
        var nameOffset, verOffset, ix;

        if ((verOffset = nAgt.indexOf('Opera')) != -1) {
            browser = 'Opera';
            _version = nAgt.substring(verOffset + 6);
            if ((verOffset = nAgt.indexOf('Version')) != -1) {
                _version = nAgt.substring(verOffset + 8);
            }
        }

        if ((verOffset = nAgt.indexOf('OPR')) != -1) {
            browser = 'Opera';
            _version = nAgt.substring(verOffset + 4);
        }

        else if ((verOffset = nAgt.indexOf('Edge')) != -1) {
            browser = 'Microsoft Edge';
            _version = nAgt.substring(verOffset + 5);
        }

        else if ((verOffset = nAgt.indexOf('MSIE')) != -1) {
            browser = 'Microsoft Internet Explorer';
            _version = nAgt.substring(verOffset + 5);
        }

        else if ((verOffset = nAgt.indexOf('Chrome')) != -1) {
            browser = 'Chrome';
            _version = nAgt.substring(verOffset + 7);
        }

        else if ((verOffset = nAgt.indexOf('Safari')) != -1) {
            browser = 'Safari';
            _version = nAgt.substring(verOffset + 7);
            if ((verOffset = nAgt.indexOf('Version')) != -1) {
                _version = nAgt.substring(verOffset + 8);
            }
        }

        else if ((verOffset = nAgt.indexOf('Firefox')) != -1) {
            browser = 'Firefox';
            _version = nAgt.substring(verOffset + 8);
        }

        else if (nAgt.indexOf('Trident/') != -1) {
            browser = 'Microsoft Internet Explorer';
            _version = nAgt.substring(nAgt.indexOf('rv:') + 3);
        }

        else if ((nameOffset = nAgt.lastIndexOf(' ') + 1) < (verOffset = nAgt.lastIndexOf('/'))) {
            browser = nAgt.substring(nameOffset, verOffset);
            _version = nAgt.substring(verOffset + 1);
            if (browser.toLowerCase() == browser.toUpperCase()) {
                browser = navigator.appName;
            }
        }

        if ((ix = _version.indexOf(';')) != -1) _version = _version.substring(0, ix);
        if ((ix = _version.indexOf(' ')) != -1) _version = _version.substring(0, ix);
        if ((ix = _version.indexOf(')')) != -1) _version = _version.substring(0, ix);

        majorVersion = parseInt('' + _version, 10);
        if (isNaN(majorVersion)) {
            _version = '' + parseFloat(navigator.appVersion);
            majorVersion = parseInt(navigator.appVersion, 10);
        }

        var mobile = /Mobile|mini|Fennec|Android|iP(ad|od|hone)/.test(nVer);
        var cookieEnabled = (navigator.cookieEnabled) ? true : false;

        if (typeof navigator.cookieEnabled == 'undefined' && !cookieEnabled) {
            document.cookie = 'testcookie';
            cookieEnabled = (document.cookie.indexOf('testcookie') != -1) ? true : false;
        }

        var os = unknown;
        var clientStrings = [
            { s: 'Windows 10', r: /(Windows 10.0|Windows NT 10.0)/ },
            { s: 'Windows 8.1', r: /(Windows 8.1|Windows NT 6.3)/ },
            { s: 'Windows 8', r: /(Windows 8|Windows NT 6.2)/ },
            { s: 'Windows 7', r: /(Windows 7|Windows NT 6.1)/ },
            { s: 'Windows Vista', r: /Windows NT 6.0/ },
            { s: 'Windows Server 2003', r: /Windows NT 5.2/ },
            { s: 'Windows XP', r: /(Windows NT 5.1|Windows XP)/ },
            { s: 'Windows 2000', r: /(Windows NT 5.0|Windows 2000)/ },
            { s: 'Windows ME', r: /(Win 9x 4.90|Windows ME)/ },
            { s: 'Windows 98', r: /(Windows 98|Win98)/ },
            { s: 'Windows 95', r: /(Windows 95|Win95|Windows_95)/ },
            { s: 'Windows NT 4.0', r: /(Windows NT 4.0|WinNT4.0|WinNT|Windows NT)/ },
            { s: 'Windows CE', r: /Windows CE/ },
            { s: 'Windows 3.11', r: /Win16/ },
            { s: 'Android', r: /Android/ },
            { s: 'Open BSD', r: /OpenBSD/ },
            { s: 'Sun OS', r: /SunOS/ },
            { s: 'Chrome OS', r: /CrOS/ },
            { s: 'Linux', r: /(Linux|X11(?!.*CrOS))/ },
            { s: 'iOS', r: /(iPhone|iPad|iPod)/ },
            { s: 'Mac OS X', r: /Mac OS X/ },
            { s: 'Mac OS', r: /(MacPPC|MacIntel|Mac_PowerPC|Macintosh)/ },
            { s: 'QNX', r: /QNX/ },
            { s: 'UNIX', r: /UNIX/ },
            { s: 'BeOS', r: /BeOS/ },
            { s: 'OS/2', r: /OS\/2/ },
            { s: 'Search Bot', r: /(nuhk|Googlebot|Yammybot|Openbot|Slurp|MSNBot|Ask Jeeves\/Teoma|ia_archiver)/ }
        ];



        for (var id in clientStrings) {
            var cs = clientStrings[id];
            if (cs.r.test(nAgt)) {
                os = cs.s;
                break;
            }
        }

        var osVersion = unknown;

        if (/Windows/.test(os)) {
            osVersion = /Windows (.*)/.exec(os)[1];
            os = 'Windows';
        }

        switch (os) {
            case 'Mac OS X':
                osVersion = /Mac OS X (10[\.\_\d]+)/.exec(nAgt)[1];
                break;

            case 'Android':
                osVersion = /Android ([\.\_\d]+)/.exec(nAgt)[1];
                break;

            case 'iOS':
                osVersion = /OS (\d+)_(\d+)_?(\d+)?/.exec(nVer);
                osVersion = osVersion[1] + '.' + osVersion[2] + '.' + (osVersion[3] | 0);
                break;
        }

        var flashVersion = 'no check';


        if (typeof swfobject != 'undefined') {
            var fv = swfobject.getFlashPlayerVersion();
            if (fv.major > 0) {
                flashVersion = fv.major + '.' + fv.minor + ' r' + fv.release;
            }
            else {
                flashVersion = unknown;
            }
        }


        os_device = os;
        system_version = osVersion;
        ram = 0;
        disk_space = 0;
        model = os + ' ' + osVersion;
        free_disk_space = 0;
        feature_flash = false;
        can_make_phone_calls = false;
        can_send_sms = false;
        video_camera_available = true;
        cpu_count = 0;
        simulator = true;
        device_languaje = navigator.language;
        device_idiom = mobile;
        platform = navigator.platform;
        if (mobile == true) { device_name = "Phone"; device_model = "Phone"; }
        else { device_name = "PC" + "-" + os; device_model = "PC" + "-" + os; }
        device_family = 0;
        retina_display_capable = true;
        feature_camera = false;
        feature_front_camera = false;
        resolution = screenSize;

    }
</script>